<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>[[${problem.id}]]'s Status List</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <table>
            <tr>
                <td valign="top" style="width:260px">
                    <script src="../../static/js/problemstatus.js" th:src="@{/js/problemstatus.js(_=${application.startupDate})}"></script>
                    <script th:inline="javascript">table(/*[+[[${sa}]]+]*//*[-*/null/*-]*/, /*[+[[${problem.submitUser}]]+]*//*[-*/5/*-]*/, /*[+[[${problem.solved}]]+]*//*[-*/4/*-]*/, /*[+[[@{/status(contest_id=${contestId},problem_id=${problem.origin})}]]+]*//*[-*/'#'/*-]*/);</script>
                </td>
                <td valign="top">
                    <p align="center">
                        <font size="5" color="#339">
                            <span>Best solutions of Contest </span>
                            <a th:href="@{/contests/{contestId}.html(contestId=${contestId})}">[[${contestId}]]</a>
                            <span> Problem </span>
                            <a th:href="@{/contests/{contestId}/problems/{problemId}.html(contestId=${contestId},problemId=${problem.id})}">[[${problem.id}]]</a>
                        </font>
                    </p>
                    <table width="700" class="table-default problem-status table-back">
                        <thead>
                            <tr class="inc">
                                <th width="5%">Rank</th>
                                <th align="center" width="15%">Run ID</th>
                                <th width="15%">User</th>
                                <th width="10%">
                                    <a class="sortable"
                                       th:href="@{/contests/{contestId}/problems/{problemId}/status.html(contestId=${contestId},problemId=${problem.id},sort='memory,time,code_length')}">Memory</a>
                                </th>
                                <th width="10%">
                                    <a class="sortable"
                                       th:href="@{/contests/{contestId}/problems/{problemId}/status.html(contestId=${contestId},problemId=${problem.id},sort='time,memory,code_length')}">Time</a>
                                </th>
                                <th width="10%">Language</th>
                                <th width="10%"><a class="sortable" th:href="@{/contests/{contestId}/problems/{problemId}/status.html(contestId=${contestId},problemId=${problem.id},sort='code_length,time,memory')}">Code Length</a></th>
                                <th width="25%">Submit Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr align="center" th:each="item,it:${page}" th:object="${item}">
                                <td>[[${page.number*page.size+it.count}]]</td>
                                <td>[[*{id}]]</td>
                                <td>
                                    <a th:href="@{/userstatus(user_id=*{user})}">[[*{user}]]</a>
                                </td>
                                <!--/*/<th:block th:if="${canView || contestId==null}">/*/-->
                                <td>[[*{memory}]]K</td>
                                <td>[[*{time}]]MS</td>
                                <!--/*/</th:block>/*/-->
                                <!--/*/<th:block th:unless="${canView || contestId==null}">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                </th:block>/*/-->
                                <td>
                                    <a th:if="${canView||authentication?.name==item.user}" th:href="@{/showsource(solution_id=*{id})}"
                                       th:text="*{@languageService.getLanguageName(language)}"
                                       target="_blank">GNU C++</a>
                                    <th:block th:unless="${canView||authentication?.name==item.user}">[[*{@languageService.getLanguageName(language)}]]</th:block>
                                </td>
                                <td th:if="${canView || contestId==null}">[[*{new java.text.DecimalFormat("0.00").format(sourceLength/1024.0)}]]K</td>
                                <!--/*/<td th:unless="${canView || contestId==null}">&nbsp;</td>/*/-->
                                <td>[[*{#calendars.format(T(java.util.Date).from(inDate),'yyyy-MM-dd HH:mm:ss')}]]</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--/*/<p align="center">/*/-->
                    <span>[</span>
                    <a th:href="@{${url}}">Top</a>
                    <span>]</span>
                    <span th:remove="tag" th:if="${page.hasPrevious()}">
                        <span>[</span>
                        <a th:href="@{${url}(page=${page.previousPageable().pageNumber})}">Previous Page</a>
                        <span>]</span>
                    </span>
                    <span th:remove="tag" th:if="${page.hasNext()}">
                        <span>[</span>
                        <a th:href="@{${url}(page=${page.nextPageable().pageNumber})}">Next Page</a>
                        <span>]</span>
                    </span>
                    <!--/*/</p>/*/-->
                </td>
            </tr>
        </table>
        <!--/*/</th:block>/*/-->
    </body>
</html>
