<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>[[${title1}]]</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <table border="0" width="100%" th:if="${problems!=null}">
            <tr>
                <td style="text-align:center" th:each="problem,it:${problems}" th:object="${problem}">
                    <a th:href="@{/contests/{contestId}/problems/{problemId}.html(contestId=${contestId},problemId=*{id})}">
                        <b>[[${T(java.lang.Character).toString(65+it.index)}]]</b>
                    </a>
                </td>
            </tr>
        </table>
        <div th:replace="fragment/problem"></div>
        <p align="center" style="font-size: medium; color: #339">
            <span>[</span>
            <a th:href="@{/contests/{contestId}/problems/{problemId}/submit.html(contestId=${contestId},problemId=${problem.id})}">Submit</a>
            <span>]&nbsp;&nbsp;[</span>
            <a th:href="@{/contests/{contestId}/problems/{problemId}/status.html(contestId=${contestId},problemId=${problem.id})}">Status</a>
            <span>]&nbsp;&nbsp; [</span>
            <a th:href="@{/bbs(problem_id=${problem.origin},contest_id=${contestId})}">Discuss</a>
            <span>]</span>
        </p>
        <!--/*/</th:block>/*/-->
    </body>
</html>
