<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title th:text="${contest.title}">title</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <p align="center">
            <b>
                <font size="5">Contest - [[${contest.title}]]</font>
            </b>
        </p>
        <p align="center">
            <span>Start time:&nbsp;&nbsp;</span>
            <span style="color: #939" th:text="${#calendars.format(T(java.util.Date).from(contest.startTime),'yyyy-MM-dd HH:mm:ss')}">2016-04-09 12:00:00</span>
            <span>&nbsp;&nbsp;End time:&nbsp;&nbsp;</span>
            <span style="color: #939" th:text="${#calendars.format(T(java.util.Date).from(contest.endTime),'yyyy-MM-dd HH:mm:ss')}">2016-04-09 17:00:00</span><br/>
            <span>Current System Time:&nbsp;&nbsp;</span>
            <span style="color: #939" th:text="${#calendars.format(#execInfo.now,'yyyy-MM-dd HH:mm:ss')}">2016-05-06 17:15:15</span>
            <span>&nbsp;&nbsp;Contest Status:&nbsp;&nbsp;</span>
            <span style="color: red" th:text="${@contestService.getStatus(contest)}">Ended</span>
        </p>
        <div align="center" th:if="${contest.started}">
            <span th:text="${contest.description}"></span>
            <table align="center" width="600" class="table-default problem-list table-back" th:classappend="${#request.userPrincipal==null?'notlogined':''}">
                <thead>
                    <tr bgcolor="#6589D1">
                        <th width="5%" class="status"></th>
                        <th width="15%" align="center"><b>Problem Id</b></th>
                        <th width="30%" align="center"><b>Title</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="problem,it:${problems}" th:object="${problem}" th:class="*{status==1?'ac':status==2?'wa':''}">
                        <td class="status"></td>
                        <td align="center"><b>[[*{origin}]] Problem [[${T(java.lang.Character).toString(65+it.index)}]]</b></td>
                        <td align="left"><a href="../problems/view.html" th:href="@{/contests/{contestId}/problems/{problemId}.html(contestId=${contest.id},problemId=*{id})}" th:text="*{title}">title</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p align="center">
            <span>[</span>
            <a th:href="@{/contests/{contestId}/standing.html(contestId=${contest.id})}">Standings</a>
            <span>]&nbsp;&nbsp;[</span>
            <a th:href="@{/status(contest_id=${contest.id})}">Status</a>
            <span>]&nbsp;&nbsp;[</span>
            <a th:href="@{/conteststatistics(contest_id=${contest.id})}">Statistics</a>
            <span>]</span>
        </p>
        <!--/*/</th:block>/*/-->
    </body>
</html>
