<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjnu.acm.judge.mapper.EmailMapper">
    <insert id="save">
        insert into email_history(`to`,subject,content,created_time)values(#{param1},#{param2},#{param3},now())
    </insert>
</mapper>
