<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.github.io/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjnu.acm.judge.mapper.PersistentLoginMapper">
    <delete id="cleanUpExpiredCookies">
        delete from persistent_logins where last_used &lt; #{boundary}
    </delete>
</mapper>
