<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Contest Standing</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <p align="center">
            <font size="5" color="blue">Contest Standing--[[${contest.title}]]</font>
        </p>
        <div th:replace="fragment/standing"></div>
        <script>!function(w){setTimeout(function(){w.location.reload();},200000);}(this);</script>
        <!--/*/</th:block>/*/-->
    </body>
</html>
