<th:block
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <div id="outer-header">
        <div id="branding" align="center">
            <a href="../index.html" th:href="@{/}">
                <img id="logo" border="0" src="../../static/images/CLanguagelogo.jpg" th:src="@{|/images${#request.contextPath}logo.jpg|}" width="100%" height="100"/></a>
        </div>
        <!-- end branding -->
    </div>
    <!-- end header -->
    <table align="center" width="100%" class="table-default">
        <tr bgcolor="#6589D1" align="center" valign="top">
            <th class="top" th:text="#{onlinejudge.main}">Online Judge</th>
            <th class="top" th:text="#{onlinejudge.problem}">Problem Set</th>
            <th class="top" th:text="#{onlinejudge.user}">Authors</th>
            <th class="top"><a style="color: white" th:href="@{/contests}" th:text="#{onlinejudge.contest}">Online Contests</a></th>
            <th class="top" th:text="#{onlinejudge.profile}">Profile</th>
        </tr>
        <tr valign="top" align="center" bgcolor="#F1F1FD">
            <td class="top scbg">
                <a th:href="@{/bbs}" th:text="#{onlinejudge.bbs}">BBS</a><br/>
                <a th:href="@{/}" th:text="#{onlinejudge.homepage}">Home</a><br/>
                <a th:href="@{/faq}" th:text="#{onlinejudge.faq}">FAQ</a>
            </td>
            <td class="top scbg">
                <a th:href="@{/problemlist}" th:text="#{onlinejudge.problem.list}">Problems</a><br/>
                <a th:href="@{/submitpage}" th:text="#{onlinejudge.problem.submitproblem}">Submit</a><br/>
                <a th:href="@{/status}" th:text="#{onlinejudge.problem.status}">Status</a><br/>
                <form th:action="@{/gotoproblem}" method="get">
                    <label th:for="${#ids.next('problem-search')}" style="color:blue" th:text="#{onlinejudge.problem.searchproblem.label}">Search Problem:</label>
                    <input th:id="${#ids.seq('problem-search')}" size="6" name="pid" type="text"/>
                    <button type="submit" th:text="#{onlinejudge.problem.searchproblem.button}">Go</button>
                </form>
            </td>
            <td class="top scbg">
                <a th:href="@{/registerpage}" th:text="#{onlinejudge.user.register}">register</a>
                <br/>
                <a th:href="@{/modifyuserpage}" th:text="#{onlinejudge.user.update}">update profile</a>
                <br/>
                <a th:href="@{/userlist}" th:text="#{onlinejudge.user.ranklist}">user list</a>
                <br/>
                <form th:action="@{/searchuser}" method="get">
                    <input size="10" name="user_id" type="text"/>
                    <button type="submit" th:text="#{onlinejudge.user.searchuser.button}">Search</button>
                </form>
            </td>
            <td class="top scbg">
                <a style="color:red" th:href="@{/currentcontests}" th:text="#{onlinejudge.contest.current}">Running contests</a>
                <br/>
                <a th:href="@{/pastcontests}" th:text="#{onlinejudge.contest.past}">Past contests</a>
                <br/>
                <a style="color:red" th:href="@{/scheduledcontests}" th:text="#{onlinejudge.contest.schedule}">Scheduled contests</a>
            </td>
            <td class="top scbg">
                <form method="POST" th:action="@{/login}" th:if="${#request.userPrincipal==null}">
                    <label th:for="${#ids.next('username')}" th:text="#{onlinejudge.profile.user.label}">ID</label>
                    <input th:id="${#ids.seq('username')}" type="text" name="user_id1" size="10"/>
                    <br/>
                    <label th:for="${#ids.next('password')}" th:text="#{onlinejudge.profile.password.label}">password</label>
                    <input th:id="${#ids.seq('password')}" type="password" name="password1" size="10" autocomplete="off"/>
                    <br/>
                    <input type="checkbox" name="rememberMe" value="true" th:id="${#ids.seq('rememberMe')}"/>
                    <label th:for="${#ids.prev('rememberMe')}" th:text="#{onlinejudge.profile.remember.label}">Remember me</label>
                    <input name="url" type="hidden" th:value="${backUrl}"/>
                    <button type="Submit" th:text="#{onlinejudge.profile.button}">login</button><br/>
                    <a th:href="@{/findpassword}" th:text="#{onlinejudge.profile.forget}">forget password</a> / <a th:href="@{/registerpage}" th:text="#{onlinejudge.user.register}">register</a>
                </form>
                <th:block th:unless="${#request.userPrincipal==null}">
                    <span th:text="|#{onlinejudge.profile.welcome} |">welcome</span><br/>
                    <b th:text="${#request.userPrincipal.name}">userId</b>
                    <a th:href="@{/logout.html}" th:text="#{onlinejudge.profile.logout}">logout</a>
                    <br/>
                    <a th:href="@{/mail}">
                        <span style="color: blue">
                            <span th:text="#{onlinejudge.profile.internalmail}">Internal mail</span>
                            <span>[[${mailInfo.total}]](<b th:text="${mailInfo.newMail}">0</b>)</span>
                        </span>
                    </a>
                </th:block>
            </td>
        </tr>
    </table>
</th:block>
