<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
    <head>
        <title>Congratulations</title>
        <!--/*-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
        <link href="../../../css/site.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
        <!--*/-->
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <h3 class="image1-50-26">Congratulations</h3>
        <ul>
            <li>You have added a problem, the id is <span style="color: #CC9900" th:text="${id}">1000</span></li>
            <li>Data path: <span style="color: #CC9900" th:text="${dir}">C:\data\1000</span></li>
        </ul>
        <p>
            <a class="image2-40-29" href="add.html" th:href="@{/admin/problems/new.html}">Add Another Problem</a>
            <a class="image2-40-29" href="show.html" th:href="@{/admin/problems/{problemId}.html(problemId=${id})}">See This Problem</a>
        </p>
        <!--/*/</th:block>/*/-->
    </body>
</html>
