<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
    <head>
        <title>Congratulations</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <h3 class="image1-50-26">Congratulations</h3>
        <ul>
            <li>You have disable a problem, the id is <span style="color: #CC9900">[[${problemId}]]</span></li>
        </ul>
        <p>
            <a class="image2-40-29" th:href="@{/admin/problems/{problemId}.html(problemId=${problemId})}">See This Problem</a>
        </p>
        <!--/*/</th:block>/*/-->
    </body>
</html>
