<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
    <head>
        <title th:text="${title}">title</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <form>
            <select name="problemLang">
                <option value="">默认语言</option>
                <option value="zh" th:selected="${'zh'.equalsIgnoreCase(problemLang)}">中文</option>
                <option value="en" th:selected="${'en'.equalsIgnoreCase(problemLang)}">English</option>
            </select>
        </form>
        <input type="hidden" name="ckfinderPath" th:value="@{/webjars/ckfinder/2.6.2.1/}"/>
        <h1>[[${hint}]]</h1>
        <p class="text-center">
            <font size="4" color="#339">[[${hint2}]]</font>
        </p>
        <form name="problem-edit" method="POST" th:action="@{${url}}" th:object="${problem}">
            <input type="hidden" name="id" th:value="*{id}"/>
            <input type="hidden" name="_method" th:value="${method}"/>
            <input type="hidden" name="problemLang" th:value="${problemLang}"/>
            <p align="left">Problem Id:&nbsp;&nbsp;[[*{id}==0?'New Problem':*{id}]]</p>
            <p align="left">
                <label th:for="${#ids.next('title')}">Title:</label>
                <input th:id="${#ids.seq('title')}" name="title" rows="1" style="width: 100%" th:value="*{title}" required="required"/>
            </p>
            <p align="left">
                <label th:for="${#ids.next('timeLimit')}">Time Limit:</label>
                <input th:id="${#ids.seq('timeLimit')}" type="number" name="timeLimit" size="20" th:value="*{timeLimit}" required="required"/>MS</p>
            <p align="left">
                <label th:for="${#ids.next('memoryLimit')}">Memory Limit:</label>
                <input th:id="${#ids.seq('memoryLimit')}" type="number" name="memoryLimit" size="20" th:value="*{memoryLimit}" required="required"/>KByte</p>
            <p align="left">
                <label th:for="${#ids.next('description')}">Description:</label>
                <br/>
                <textarea th:id="${#ids.seq('description')}" class="editable" rows="13" name="description"  style="width: 100%;" th:text="*{description}"></textarea>
            </p>
            <p align="left">
                <label th:for="${#ids.next('input')}">Input:</label>
                <br/>
                <textarea th:id="${#ids.seq('input')}" class="editable" rows="13" name="input" style="width: 100%;" th:text="*{input}"></textarea></p>
            <p align="left">
                <label th:for="${#ids.next('output')}">Output:</label>
                <br/>
                <textarea th:id="${#ids.seq('output')}" class="editable" rows="13" name="output"  style="width: 100%;" th:text="*{output}"></textarea>
            </p>
            <p align="left">
                <label th:for="${#ids.next('sampleInput')}">Sample Input:</label>
                <br/>
                <textarea th:id="${#ids.seq('sampleInput')}" rows="13" name="sampleInput"  style="width: 100%;" th:text="*{sampleInput}"></textarea>
            </p>
            <p align="left">
                <label th:for="${#ids.next('sampleOutput')}">Sample Output:</label>
                <br/>
                <textarea th:id="${#ids.seq('sampleOutput')}" rows="13" name="sampleOutput" style="width: 100%;" th:text="*{sampleOutput}"></textarea>
            </p>
            <p align="left">
                <label th:for="${#ids.next('hint')}">Hint:</label>
                <br/>
                <textarea th:id="${#ids.seq('hint')}" class="editable" rows="13" name="hint"  style="width: 100%;" th:text="*{hint}"></textarea>
            </p>
            <p align="left">
                <label th:for="${#ids.next('source')}">Source:</label>
                <br/>
                <textarea th:id="${#ids.seq('source')}" class="editable" name="source" rows="1" style="width: 80%" th:text="*{source}"></textarea>
            </p>
            <p align="left">
                <label th:for="${#ids.next('contest')}">contest:</label>
                <select th:id="${#ids.seq('contest')}" name="contest">
                    <option value="">no contest</option>
                    <option th:each="contest:${contests}" th:object="${contest}" th:value="*{id}" th:text="*{title}" th:selected="*{id}==${problem.contest}">contest.title</option>
                </select>
            </p>
            <div class="text-center"><button type="submit">Submit</button></div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.6.2/ckeditor.js" th:src="@{/webjars/ckeditor/4.6.2/full/ckeditor.js}"></script>
        <script th:src="@{/webjars/ckfinder/2.6.2.1/ckfinder.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.6.2/adapters/jquery.js" th:src="@{/webjars/ckeditor/4.6.2/full/adapters/jquery.js}"></script>
        <script src="../../../../js/ckfinder.js" th:src="@{/js/ckfinder.js(_=${application.startUpDate})}"></script>
        <script>/*<![CDATA[*/jQuery(function ($) {var KEY = "value-original", inputs = $("form[name='problem-edit'] :input");$("select[name='problemLang']").change(function () {var change = false;inputs.each(function () {if ($(this).val() !== $(this).data(KEY)) {change = true;return false;}});if (change && !confirm("你已经修改题目，继续操作将会丢失修改，是否继续？")) {$(this).val($(this).data(KEY));return false;}$(this).closest("form").submit();}).add(inputs).each(function () {$(this).data(KEY, $(this).val());});});/*]]>*/</script>
        <!--/*/</th:block>/*/-->
    </body>
</html>
