<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
    <head>
        <title>Problem List</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <p align="center">
            <font size="4" color="#333399">Problem List</font>
        </p>
        <table class="table table-striped table-hover table-bordered">
            <tr align="center">
                <td width="10%">Id</td>
                <td width="25%">Title</td>
                <td width="10%">Contest</td>
                <td width="8%">Edit</td>
                <td width="20%">Date</td>
                <td width="8%">Defunct</td>
            </tr>
            <tr align="center" th:each="problem:${page}" th:object="${problem}">
                <td th:text="*{id}">problem.id</td>
                <td align="left">
                    <a th:href="@{/admin/problems/{problemId}(problemId=*{id})}"
                       th:text="*{title}">problem.title</a>
                </td>
                <td>
                    <a th:if="*{contest}"
                       th:href="@{/admin/contests/{contestId}(contestId=*{contest})}"
                       th:text="*{contest}">contest.id</a>
                </td>
                <td>
                    <a th:href="@{/admin/problems/{problemId}/edit(problemId=*{id})}">Edit</a>
                </td>
                <td th:text="*{#calendars.format(T(java.util.Date).from(inDate),'yyyy-MM-dd HH:mm:ss')}">2016-03-09 22:28:54</td>
                <td>
                    <a th:if="*{disabled}" th:href="@{/admin/problems/{problemId}/resume(problemId=*{id})}">Resume</a>
                    <a th:unless="*{disabled}" th:href="@{/admin/problems/{problemId}/disable(problemId=*{id})}">Delete</a>
                </td>
            </tr>
        </table>
        <p align="center" th:if="${page.totalPages&gt;1}">
            <a style="margin: 10px;"
               th:each="it:${#numbers.sequence(0,page.totalPages-1)}"
               th:href="@{/admin/problems(page=${it},size=${page.size})}"
               th:text="${it+1}">1</a>
        </p>
        <!--/*/</th:block>/*/-->
    </body>
</html>
