<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
    <head>
        <title>Problem List</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <p align="center">
            <font size="4" color="#333399">Problem List</font>
        </p>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr align="center">
                        <th width="10%">Id</th>
                        <th width="25%">Title</th>
                        <th width="10%">Contest</th>
                        <th width="8%">Edit</th>
                        <th width="20%">Date</th>
                        <th width="8%">Defunct</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center" th:each="problem:${page}" th:object="${problem}">
                        <td th:text="*{id}">problem.id</td>
                        <td align="left">
                            <a th:href="@{/admin/problems/{problemId}.html(problemId=*{id})}"
                               th:text="*{title}">problem.title</a>
                        </td>
                        <td>
                            <a th:if="*{contest}"
                               th:href="@{/admin/contests/{contestId}.html(contestId=*{contest})}"
                               th:text="*{contest}">contest.id</a>
                        </td>
                        <td>
                            <a th:href="@{/admin/problems/{problemId}/edit.html(problemId=*{id})}">Edit</a>
                        </td>
                        <td th:text="*{#calendars.format(T(java.util.Date).from(inDate),'yyyy-MM-dd HH:mm:ss')}">2016-03-09 22:28:54</td>
                        <td>
                            <a th:if="*{disabled}" th:href="@{/admin/problems/{problemId}/enable.html(problemId=*{id})}">Enable</a>
                            <a th:unless="*{disabled}" th:href="@{/admin/problems/{problemId}/disable.html(problemId=*{id})}">Disable</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p align="center" th:if="${page.totalPages&gt;1}">
            <a style="margin: 10px;"
               th:each="it:${#numbers.sequence(0,page.totalPages-1)}"
               th:href="@{/admin/problems.html(page=${it},size=${page.size})}"
               th:text="${it+1}">1</a>
        </p>
        <!--/*/</th:block>/*/-->
    </body>
</html>
