<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
    <head>
        <title>Problem -- [[${problem.title}]]</title>
        <style>.description,.input,.output,.sampleInput,.sampleOutput,.hint,.source{font: 16px Monospace;}</style>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <h2 class="text-center" th:text="${problem.title}">title</h2>
        <p align="center">Time Limit:[[${problem.timeLimit}]]MS&nbsp; Memory Limit:[[${problem.memoryLimit}]]K<br/>Total Submit:[[${problem.submit}]] Accepted:[[${problem.accepted}]]</p>
        <p align="left"><b><font color="#333399" size="5">Description</font></b></p>
        <div class="description" th:utext="${problem.description}">description</div>
        <p align="left"><b><font color="#333399" size="5">Input</font></b></p>
        <div class="input" th:utext="${problem.input}">input</div>
        <p align="left"><b><font color="#333399" size="5">Output </font></b></p>
        <div class="output" th:utext="${problem.output}">output</div>
        <p align="left"><b><font color="#333399" size="5">Sample Input</font></b></p>
        <pre class="sampleInput" th:text="${problem.sampleInput}">sample input</pre>
        <p align="left"><b><font color="#333399" size="5">Sample Output</font></b></p>
        <pre class="sampleOutput" th:text="${problem.sampleOutput}">sample output</pre>
        <p align="left"><b><font color="#333399" size="5">Hint</font></b></p>
        <div class="hint" th:utext="${problem.hint}">hint</div>
        <p align="left"><b><font color="#333399" size="5">Source</font></b></p>
        <div class="source" th:utext="${problem.source}">source</div>
        <font color="#333399" size="3">
            <p align="center">
                <span>[</span>
                <a th:href="@{/admin/problems/{problemId}/disable.html(problemId=${problem.id})}" th:unless="${problem.disabled}">Disable this problem</a>
                <a th:href="@{/admin/problems/{problemId}/enable.html(problemId=${problem.id})}" th:if="${problem.disabled}">Enable this problem</a>
                <span>]&nbsp;&nbsp;</span>
                <span>[</span>
                <a th:href="@{/admin/problems/{problemId}/edit.html(problemId=${problem.id})}">Edit</a>
                <span>]</span>
            </p>
        </font>
        <!--/*/</th:block>/*/-->
    </body>
</html>
