# Auto detect text files and perform LF normalization
# disable auto normalization of platform line ending.
* text=auto eol=lf

# binary files.
*.docx -text diff=word
*.DOCX -text diff=word
*.doc -text diff=word
*.DOC -text diff=word
*.gif -text diff=image
*.jpg -text diff=image
*.png -text diff=image
*.dot -text
*.DOT -text
*.eot -text
*.gz -text
*.ico -text
*.jar -text
*.pdf -text
*.PDF -text
*.rtf -text
*.RTF -text
*.tgz -text
*.ttf -text
*.war -text
*.zip -text
*.woff -text
*.woff2 -text

mvnw    text diff=shell
*.cs    text diff=csharp
*.html  text diff=html
*.java  text diff=java
*.sh    text diff=shell
*.svg   text diff=xml
*.tld   text diff=xml
*.xml   text diff=xml
*.c     text
*.cpp   text
*.css   text
*.in    text
*.js    text
*.jsp   text
*.md    text
*.out   text
*.kt    text
*.sql   text
*.tag   text
*.txt   text
*.yaml  text
*.yml   text
*.MD    text
*.cmd text eol=crlf
*.bat text eol=crlf
*.groovy text
*.properties text
