# Auto detect text files and perform LF normalization
# disable auto normalization of platform line ending.
# * text=auto
* text eol=lf

# Custom for Visual Studio
*.cs text diff=csharp

# binary files.
*.docx binary diff=word
*.DOCX binary diff=word
*.doc binary diff=word
*.DOC binary diff=word
*.gif binary diff=image
*.jpg binary diff=image
*.png binary diff=image
*.dot binary
*.DOT binary
*.gz  binary
*.ico binary
*.jar binary
*.pdf binary
*.PDF binary
*.rtf binary
*.RTF binary
*.tgz binary
*.ttf binary
*.zip binary
*.eot binary
*.woff binary
*.woff2 binary

mvnw    text    diff=shell
*.sh    text    diff=shell
*.java  text    diff=java
*.html  text    diff=html
*.svg   text    diff=xml
*.tld   text    diff=xml
*.xml   text    diff=xml
*.css   text
*.js    text
*.jsp   text
*.tag   text
*.yaml  text
*.yml   text
*.sql   text
*.txt   text
*.cpp   text
*.c     text
*.in    text
*.out   text
*.md    text
*.MD    text
*.cmd text eol=crlf
*.bat text eol=crlf
*.groovy text
*.properties text
