<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main">
    <head>
        <title>找回密码</title>
        <script src="../../js/findpassword.js" th:src="@{/js/findpassword.js(_=${#ctx.applicationAttributes.startUpDate})}"></script>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <div align="center" id="findpassword">
            <noscript>你的电脑禁用了javascript，可能页面无法正常显示</noscript>
            <div><br/><b class="f14">找回密码</b></div>
            <table>
                <tr><td>用户名：</td><td><input name="username" type="text"/></td></tr>
                <tr><td>验证码：</td><td><input name="imgVerify" type="text"/></td></tr>
                <tr><td colspan="2" align="center"><img th:src="@{/images/rand.jpg}" width="200" height="50"/></td></tr>
                <tr><td colspan="2" align="center"><input type="button" value="重置密码"/></td></tr>
            </table>
        </div>
        <!--/*/</th:block>/*/-->
    </body>
</html>
