<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <meta http-equiv="Refresh" content="5; url=findpassword" />
        <title>链接无效</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <div align="center">链接已失效，请重新获取链接！<br/> 页面5秒后将跳转至找回密码页面</div>
        <!--/*/</th:block>/*/-->
    </body>
</html>
