<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Error</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <h3 class="image1-50-26" th:text="#{onlinejudge.erroroccured}">Error Occurred</h3>
        <ul>
            <li th:text="${message}">message</li>
        </ul>
        <!--/*/</th:block>/*/-->
    </body>
</html>
