<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <!--/*--><meta charset="UTF-8"/><!--*/-->
        <title>Compile Error</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <ul>
            <li>
                <font style="color: #339" size="5">Compile Error</font>
            </li>
        </ul>
        <pre style="font-size: medium;" th:text="${compileInfo}">
        </pre>
        <!--/*/</th:block>/*/-->
    </body>
</html>
