<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main">
    <head>
        <!--/*--><meta charset="UTF-8"/><!--*/-->
        <title>Compile Error</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <ul><li><font color="#333399" size="5">Compile Error</font></li></ul>
        <p><font face="Times New Roman" size="3" th:utext="${compileInfo}" style="white-space: pre"></font></p>
        <!--/*/</th:block>/*/-->
    </body>
</html>
