<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      th:lang="#{lang}">
    <head>
        <meta charset="utf-8"/>
        <meta name="renderer" content="webkit"/>
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>Welcome to JudgeOnline</title>
        <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css}" rel="stylesheet"/>-->

        <link href="../../static/css/site.css" th:href="@{/css/site.css(_=${application.startupDate})}" rel="stylesheet"/>
        <link href="../../static/sample.png" th:href="@{/sample.png}" rel="shortcut icon"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js" th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" th:src="@{/webjars/respond/1.4.2/dest/respond.matchmedia.addListener.min.js}"></script>
        <![endif]-->
        <script src="../../static/js/site.js" th:src="@{/js/site.js(_=${application.startupDate})}"></script>
    </head>
    <body id="page-home">
        <div id="page" style="min-width: 980px">
            <div id="nav">
                <th:block th:if="${contestId==null}">
                    <div id="outer-header">
                        <div id="branding" align="center">
                            <a href="../index.html" th:href="@{/}">
                                <img id="logo" border="0" src="../../static/images/CLanguagelogo.jpg" th:src="@{|/images${#request.contextPath}logo.jpg|}" width="100%" height="100"/></a>
                        </div>
                        <!-- end branding -->
                    </div>
                    <!-- end header -->
                    <th:block th:replace="fragment/navigation"/>
                </th:block>
                <th:block th:unless="${contestId==null}">
                    <table border="0" width="100%" class="table-back">
                        <tr>
                            <td style="width:16.7%"><a href="../index.html" th:href="@{/}" style="width:16.7%">Home Page</a></td>
                            <td style="width:16.7%"><a th:href="@{/bbs}" target="_blank">Web Board</a></td>
                            <td style="width:16.7%"><a href="../contests/problems.html" th:href="@{/showcontest(contest_id=${contestId})}">Problems</a></td>
                            <td style="width:16.7%"><a href="../contests/standing.html" th:href="@{/contests/{contestId}/standing.html(contestId=${contestId})}">Standing</a></td>
                            <td style="width:16.7%"><a th:href="@{/status(contest_id=${contestId})}">Status</a></td>

                            <td th:if="${#request.userPrincipal != null}">
                                <b>[[${#request.userPrincipal.name}]] </b>
                                <a th:href="@{/logout.html}">Logout</a>
                            </td>
                            <td th:unless="${#request.userPrincipal != null}">
                                <a th:href="@{/login(url=${backUrl})}">Login</a>
                            </td>
                        </tr>
                    </table>
                </th:block>
                <th:block th:replace="fragment/notice"/>
            </div>
            <!-- end nav -->
            <div id="content" class="clearfix">
                <th:block layout:fragment="content"/>
            </div>
            <!-- end content -->
            <div id="footer" class="clearfix">
                <p>
                    <img alt="home" height="29" src="../../static/images/home.jpg" th:src="@{/images/home.jpg}" width="40" border="0"/>
                    <font size="3">
                        <a href="../index.html" th:href="@{/}" th:text="#{onlinejudge.homepage}">Home Page</a>
                    </font>
                    <img alt="goback" height="29" src="../../static/images/goback.jpg" th:src="@{/images/goback.jpg}" width="40" border="0" style="margin-left: 40px;"/>
                    <font size="3">
                        <a href="javascript:history.go(-1)" th:text="#{onlinejudge.goback}">Go Back</a>
                        <img alt="top" height="29" width="40" border="0" src="../../static/images/top.jpg" th:src="@{/images/top.jpg}" style="margin-left: 40px;"/>
                        <a href="#top" th:text="#{onlinejudge.totop}">To top</a>
                    </font>
                </p>
                <hr/>
                <p align="center" style="font-size: medium;">All Copyright Reserved 2006-[[${T(java.time.Year).now()}]] ZJNU ACM<br/>Any problem, Please Contact <a th:with="mail=${@systemService.adminMail}" th:remove="${#strings.isEmpty(mail)?'tag':_}" th:href="|mailto:${mail}|">Administrator</a></p>
            </div>
            <!-- end footer -->
        </div>
        <!-- end page -->
        <th:block th:include="fragment/ga"/>
    </body>
</html>
