<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Solution Details</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <ul><li><font style="color: #339" size="5">Solution Details</font></li></ul>
        <table align="center" width="75%" class="table-default table-back">
            <thead>
                <tr bgcolor="#6589D1">
                    <th align="center" width="25%"><b>Case num</b></th>
                    <th align="center" width="25%"><b>Result</b></th>
                    <th align="center" width="25%"><b>Score</b></th>
                    <th align="center" width="7%"><b>Time</b></th>
                    <th align="center" width="25%"><b>Memory</b></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="detail,it:${details}" align="center" th:object="${detail}">
                    <td th:text="${it.count}">1</td>
                    <td th:text="*{result}">Accepted</td>
                    <td th:text="*{score}">10</td>
                    <td>[[*{time}]]MS</td>
                    <td>[[*{memory}]]K</td>
                </tr>
                <tr bgcolor="#6589D1" align="center">
                    <td>Result</td>
                    <td th:text="${result}">Accepted</td>
                    <td th:text="${score}">100</td>
                    <td>[[${time}]]MS</td>
                    <td>[[${memory}]]K</td>
                </tr>
            </tbody>
        </table>
        <!--/*/</th:block>/*/-->
    </body>
</html>
