<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="'layout/main'">
    <head>
        <title>Source Code</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <p align="center">
            <font size="4" color="#333399">Source</font>
        </p>
        <form>
            <p align="center">
                <font size="2">Problem Id:<a th:href="@{/showproblem(problem_id=${submission.problem})}" th:text="${submission.problem}">problem.id</a> User Id:<a th:href="@{/userstatus(user_id=${submission.user})}" th:text="${submission.user}">user</a><br/>Memory:[[${submission.memory}]]K&nbsp;&nbsp;Time:[[${submission.time}]]MS<br/>Language:[[${language}]]&nbsp;&nbsp;Result:[[${result}]]</font><br/>Style: <select onchange="submit()" name="style">
                    <option th:each="item,it:${styles}" th:value="${it.index}" th:text="${item}" th:selected="${it.index==style}">acid</option>
                </select>
                <input type="hidden" name="solution_id" th:value="${submission.id}"/>
            </p>
        </form>
        <script th:src="@{/shjs/sh_main.min.js}"></script>
        <script th:src="@{|/shjs/lang/${sh}.min.js|}"></script>
        <link rel="stylesheet" th:href="@{|/shjs/css/sh_${styleName}.min.css|}"/>
        <ul><li><font color="#333399" size="5">Source</font></li>
        <pre th:class="${sh}" th:text="${source}"></pre></ul>
        <script>jQuery(sh_highlightDocument);</script>
        <!--/*/</th:block>/*/-->
    </body>
</html>
