<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="'layout/main'">
    <head>
        <title>Source Code</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <p align="center">
            <font size="4" color="#333399">Source</font>
        </p>
        <form id="show-source">
            <p align="center" th:inline="text">
                <font size="2">
                    <span>Problem Id:</span>
                    <a th:href="@{/showproblem(problem_id=${submission.problem})}" th:text="${submission.problem}">problem.id</a>
                    <span> User Id:</span>
                    <a th:href="@{/userstatus(user_id=${submission.user})}" th:text="${submission.user}">user</a>
                    <br/>
                    <span>Memory:[[${submission.memory}]]K</span>
                    <span>&nbsp;&nbsp;</span>
                    <span>Time:[[${submission.time}]]MS</span>
                    <br/>
                    <span>Language:[[${language}]]</span>
                    <span>&nbsp;&nbsp;</span>
                    <span>Result:[[${result}]]</span>
                </font>
                <br/>
                <label th:for="${#ids.next('style')}">Style: </label>
                <select th:id="${#ids.seq('style')}"></select>
                <input type="hidden" name="style" th:value="${style}"/>
                <input type="hidden" name="solution_id" th:value="${submission.id}"/>
                <input type="hidden" name="styleTemplateUrl" th:value="@{/webjars/highlightjs/9.2.0/styles/${name}.css}"/>
            </p>
        </form>
        <ul>
            <li>
                <font color="#333399" size="5">Source</font>
            </li>
            <pre>
                <code th:text="${source}"></code>
            </pre>
        </ul>
        <script src="" th:src="@{/webjars/highlightjs/9.2.0/highlight.min.js}"></script>
        <script src="../../../js/source.js" th:src="@{/js/source.js}"></script>
        <!--/*/</th:block>/*/-->
    </body>
</html>
