<th:block
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <marquee scrollamount="3" behavior="ALTERNATE" scrolldelay="150" style="color:red">
        <a href="/CLanguage/showmessage?message_id=1164">使用GCC(GNU C)或VC++提交出现Runtime Error，请确保main的返回类型为int，main最后有return 0</a>
    </marquee>
    <th:block th:with="message=${@judgeConfiguration.systemInfo}">
        <marquee scrollamount="3" behavior="ALTERNATE" scrolldelay="150" th:if="${not #strings.isEmpty(message)}" >
            <font color="red" th:utext="${message}"></font>
        </marquee>
    </th:block>
</th:block>
