<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>[[${message}]]</title>
        <!--/*--><meta charset="UTF-8"/><!--*/-->
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <h3 class="image1-50-26" th:text="#{onlinejudge.erroroccured}">Error Occurred</h3>
            <div id='created'>[[${timestamp}]]</div>
            <div>There was an unexpected error (type=[[${error}]], status=[[${status}]]).</div>
            <div>[[${message}]]</div>
        </div>
    </body>
</html>
