<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Congratulations</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <h3 class="image1-50-26">Congratulations</h3>
        <ul>
            <li>ID:                [[${user.id}]]</li>
            <li>Password:        *********</li>
            <li>Email:                [[${user.email}]]</li>
        </ul>
        <!--/*/</th:block>/*/-->
    </body>
</html>
