<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <script src="../static/js/resetPassword.js" th:src="@{/js/resetPassword.js(_=${application.startupDate})}"></script>
        <title>找回密码</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <div class="fp-form" align="center">
            <b>重置密码</b>
            <div class="fp_newpass">
                <span>请设置新密码：</span>
                <input type="password" id="newPassword" autocomplete="off"/>
            </div>
            <div class="fp_repass">
                <span>重复输入密码：</span>
                <input type="password" id="reNewPassword" autocomplete="off"/>
            </div>
            <div>
                <button id="submit" type="button">确认重置</button>
            </div>
        </div>
        <!--/*/</th:block>/*/-->
    </body>
</html>
