<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Recent Rank</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <div align="center">
            <form th:action="@{/recentrank}" method="get">
                <font style="color: blue" size="5">
                    <label th:for="${#ids.next('count')}">Rank of last </label>
                    <input th:id="${#ids.seq('count')}" type="number" name="count" size="5" th:value="${count}" required="required"/>
                    <label th:for="${#ids.prev('count')}">submits.</label>
                </font>
                <button type="submit">Go</button>
            </form>
        </div>
        <table align="center" width="600" class="table-default table-back">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>User Id</th>
                    <th>Nick</th>
                    <th>Accepted</th>
                    <th>Submit</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center" th:each="user,it:${recentrank}" th:object="${user}">
                    <td th:text="${it.count}">1</td>
                    <td><a th:href="@{/userstatus(user_id=*{id})}" th:text="*{id}">id</a></td>
                    <td><span style="color: green" th:text="*{nick}">nick</span></td>
                    <td th:text="*{solved}">97</td>
                    <td th:text="*{submit}">283</td>
                </tr>
            </tbody>
        </table>
        <!--/*/</th:block>/*/-->
    </body>
</html>
