<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Register Information</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <form method="POST" th:action="@{/register}">
            <table align="center" cellspacing="3" cellpadding="3" width="600" border="0" class="table-back">
                <tr>
                    <td colspan="2" width="600" height="40">
                        <p align="center">请输入你的信息</p>
                    </td>
                </tr>
                <tr>
                    <td width="25%">
                        <label th:for="${#ids.next('username')}">用 户 名:</label>
                    </td>
                    <td width="75%">
                        <input th:id="${#ids.seq('username')}" type="text" name="user_id" size="20" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label th:for="${#ids.next('nick')}">昵　　称:</label>
                    </td>
                    <td>
                        <input th:id="${#ids.seq('nick')}" type="text" name="nick" size="50" required="required" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label th:for="${#ids.next('password')}">密　　码:</label>
                    </td>
                    <td>
                        <input th:id="${#ids.seq('password')}" type="password" name="password" size="20" autocomplete="off" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label th:for="${#ids.next('password')}">重复密码:</label>
                    </td>
                    <td>
                        <input th:id="${#ids.seq('password')}" type="password" name="rptPassword" size="20" autocomplete="off" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label th:for="${#ids.next('school')}">班　　级:</label>
                    </td>
                    <td>
                        <input th:id="${#ids.seq('school')}" type="text" name="school" size="30"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label th:for="${#ids.next('email')}">邮　　箱:</label>
                    </td>
                    <td>
                        <input th:id="${#ids.seq('email')}" type="email" name="email" size="30" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td align="left">
                        <button type="submit">Submit</button>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button type="reset">Reset</button>
                    </td>
                </tr>
            </table>
        </form>
        <!--/*/</th:block>/*/-->
    </body>
</html>
