<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <script src="../../static/js/resetPassword.js" th:src="@{/js/resetPassword.js(_=${application.startupDate})}"></script>
        <title th:text="#{onlinejudge.resetpassword.title}">reset password</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <table class="fp-form" align="center">
            <caption th:text="#{onlinejudge.resetpassword.title}">reset password</caption>
            <tr class="fp_newpass">
                <td th:text="#{onlinejudge.form.newpassword.label}">new password:</td>
                <td>
                <input type="password" id="newPassword" autocomplete="off" required="required" th:data-prompt-empty="#{onlinejudge.password.empty}" th:data-prompt-length="#{onlinejudge.password.invalid.length}"/>
                </td>
            </tr>
            <tr class="fp_repass">
                <td th:text="#{onlinejudge.form.repeatnewpassword.label}">repeat password:</td>
                <td><input type="password" id="reNewPassword" autocomplete="off" th:data-prompt-not-same="#{onlinejudge.password.notmatch}"/></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    <button id="submit" type="button" th:data-goto="@{/login}" th:text="#{onlinejudge.resetpassword.button}">Submit</button></td>
            </tr>
        </table>
        <!--/*/</th:block>/*/-->
    </body>
</html>
