<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <meta http-equiv="Refresh" content="8; url=findpassword" />
        <title th:text="#{onlinejudge.resetpassword.link.expired.title}">Expired link</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <div align="center">
            <span th:text="#{onlinejudge.resetpassword.link.expired}">link expired</span><br/>
            <span th:text="#{onlinejudge.resetpassword.link.expired.jump}">navigate</span>
        </div>
        <!--/*/</th:block>/*/-->
    </body>
</html>
