<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Search '[[${query}]]'</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <div class="text-center">
            <font size="5" color="blue" th:text="#{onlinejudge.user.searchresult}">Search Result</font>
            <br/>
            <table border="1" width="80%" style="margin: 0 auto">
                <thead>
                    <tr style="background: #78C8FF">
                        <th width="10%">No.</th>
                        <th width="20%">User</th>
                        <th width="40%">Nick Name</th>
                        <th width="15%">Solved</th>
                        <th width="15%">Submissions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user,it:${users}" th:style="${it.even?'background: #C0C0C0':'background: #78C8FF'}" th:object="${user}">
                        <td th:text="${it.count}">1</td>
                        <td><a th:href="@{/userstatus(user_id=*{id})}" th:text="*{id}">userId</a></td>
                        <td th:text="*{nick}">nick</td>
                        <td th:text="*{solved}">225</td>
                        <td th:text="*{submit}">845</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--/*/</th:block>/*/-->
    </body>
</html>
