<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Post New Message</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <h2>
            <span>Post new message</span>
            <th:block th:if="${problemId!=null and problemId!=0}"> for problem [[${problemId}]]</th:block>
        </h2>
        <form method="POST" th:action="@{/post}">
            <input th:if="${problemId!=null and problemId!=0}" type="hidden" name="problem_id" th:value="${problemId}"/>
            <br/>
            <label th:for="${#ids.next('title')}">Title:</label>
            <br/>
            <input th:id="${#ids.seq('title')}" type="text" name="title" size="100"/>
            <br/>
            <label th:for="${#ids.next('content')}">Content:</label>
            <br/>
            <textarea th:id="${#ids.seq('content')}" rows="20" name="content" cols="100"></textarea>
            <br/>
            <button type="submit">Post</button>
        </form>
        <!--/*/</th:block>/*/-->
    </body>
</html>
