<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
    <head>
        <title>Add a contest</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.4.4/flatpickr.css" th:href="@{/webjars/flatpickr/2.4.4/dist/flatpickr.css}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.4.4/flatpickr.js" th:src="@{/webjars/flatpickr/2.4.4/dist/flatpickr.min.js}"></script>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <form method="POST" th:action="@{/admin/contests.html}">
            <p class="text-center" style="color: #333399;font-size: large;">Add a Contest</p>
            <p class="text-left">
                <label th:for="${#ids.next('title')}">Title: </label>
                <input th:id="${#ids.seq('title')}" type="text" name="title" size="71"/>
            </p>
            <p class="text-left">
                <label th:for="${#ids.next('description')}">Description:</label>
                <br/>
                <textarea th:id="${#ids.seq('description')}" rows="8" name="description" cols="76"></textarea>
            </p>
            <p class="text-left">
                <label th:for="${#ids.next('start')}">Start Time: </label>
                <input th:id="${#ids.seq('start')}" type="text" name="start" required="required" th:value="${#calendars.format(#execInfo.now,'yyyy-MM-dd HH:00')}"/>
            </p>
            <p class="text-left">
                <label th:for="${#ids.next('length')}">Length: </label>
                <input th:id="${#ids.seq('length')}" type="text" name="length" value="5:00:00" required="required" pattern="\d+:[0-5]?[0-9]:[0-5]?[0-9]"/>
            </p>
            <div class="text-center">
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>
        <script th:inline="javascript">jQuery(function ($) {$(/*[+[[|#${#ids.prev('start')}|]]+]*//*[-*/"#start"/*-]*/).flatpickr({enableTime:true,minDate:"today"});});</script>
        <!--/*/</th:block>/*/-->
    </body>
</html>
