<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:object="${contest}"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
    <head>
        <title th:text="*{title}">title</title>
        <script src="../../../../js/jquery.textchange.js" th:src="@{/js/jquery.textchange.js(_=${application.startUpDate})}"></script>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <p class="text-center">
            <b><font size="5">Contest - [[*{title}]]</font></b>
        </p>
        <p class="text-center">Start time: <span style="color: #939" th:text="*{#calendars.format(T(java.util.Date).from(startTime),'yyyy-MM-dd HH:mm:ss')}">2016-03-20 12:00:00</span> End time: <span style="color: #939" th:text="*{#calendars.format(T(java.util.Date).from(endTime),'yyyy-MM-dd HH:mm:ss')}">2016-03-20 17:00:00.0</span><br/>Current System Time: <span style="color: #939" th:text="${#calendars.format(#execInfo.now,'yyyy-MM-dd HH:mm:ss')}">2016-03-28 16:17:18</span> Contest Status: <span style="color: red" th:utext="${@contestService.getStatus(contest)}">Ended</span>
        </p>
        <form th:action="@{/admin/contests/{contestId}/problems.html(contestId=${contest.id})}" method="POST">
            <div class="table-responsive">
                <table class="text-center table table-striped table-hover problems" th:data-contest-id="${contest.id}">
                    <thead>
                        <tr class="row">
                            <th class="col-sm-4 text-center">Problem Id</th>
                            <th class="col-sm-5 text-left">Title</th>
                            <th class="col-sm-3 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row item" th:each="p,it:${problems}" th:object="${p}" th:data-id="*{orign}">
                            <td class="col-sm-4 text-center" style="vertical-align:middle">
                                <b>[[*{orign}]] Problem [[${T(java.lang.Character).toString(65+it.index)}]]</b>
                            </td>
                            <td class="col-sm-5 text-left" style="vertical-align:middle">
                                <a th:href="@{/admin/problems/{problemId}.html(problemId=*{orign})}" th:text="*{title}">title</a>
                            </td>
                            <td class="col-sm-3 text-center">
                                <button type="button" class="btn btn-link edit">Edit</button>
                                <button type="button" class="btn btn-default delete">DELETE</button>
                            </td>
                        </tr>
                        <tr class="row item">
                            <td class="col-sm-4 text-center">
                                <input name="problemId" type="text" autofocus="autofocus" required="required" autocomplete="off"/>
                            </td>
                            <td class="col-sm-5 text-left">
                                <span class="title"></span>
                            </td>
                            <td class="col-sm-3 text-center">
                                <button type="submit" class="btn btn-default add" disabled="disabled">ADD</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <script th:inline="javascript">//<![CDATA[
            jQuery(function ($) {
                var submit = $(".problems").on("click", ":button.edit", function () {
                    var problemId = $(this).closest(".item").data("id");
                    window.location.href = /*[+[[@{/admin/problems/{problemId}/edit.html}]]+]*//*[-*/""/*-]*/.replace("{problemId}", problemId);
                }).on("click", ":button.delete", function () {
                    var contestId = $(this).closest("[data-contest-id]").data("contestId");
                    var problemId = $(this).closest("[data-id]").data("id");
                    $("<form/>",{method:'POST',"action":/*[+[[@{/admin/contests/{contestId}/problems/{problemId}.html}]]+]*//*[-*/"../admin/contests/{contestId}/problems/{problemId}.html"/*-]*/.replace("{contestId}",contestId).replace("{problemId}",problemId)}).append($("<input type='hidden' name='_method' value='DELETE' />")).appendTo("body").submit();
                }).on("click", ":button.add", function () {
//var contestId = $(this).closest("[data-contest-id]").data("contestId");
//var problemId = $(this).closest(".item").find(":input[name='problemId']").val();
//$("<form method='POST' />").attr("action", /*[+[[@{/admin/contests/{contestId}/problems.html}]]+]*//*[-*/"../admin/contests/{contestId}/problems.html"/*-]*/.replace("{contestId}", contestId)).append($("<input/>", {name: "problemId", value: problemId, type: "hidden"})).submit();
                }).on("textchange", ":input[name='problemId']", function(e, lastVal) {
                    var title = $(this).closest(".item").find(".title"), val = $(this).val();
                    if (val === lastVal) return;
                    if (/^[0-9]+$/.test(val)) {
                        var url = /*[+[[@{/problems/{problemId}.json}]]+]*//*[-*/"../problems/problemId.json"/*-]*/;
                        jqxhr && jqxhr.abort();
                        jqxhr = $.getJSON(url.replace('{problemId}', val), function (x) {
                            title.text(x && x.title || "No Title");
                            submit.removeProp("disabled");
                        }).fail(function (xhr) {
                            title.text(code[xhr.status] || "Error");
                            submit.prop("disabled", true);
                        });
                    } else {
                        title.text('');
                        submit.prop("disabled", true);
                    }
                }).find(":submit"), code = {"404":"Not found."}, jqxhr;
            });//]]>
        </script>
        <!--/*/</th:block>/*/-->
    </body>
</html>
