<th:block
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <div style="text-align: right; margin-right: 20px">
        <a data-lang="zh">中文</a>
        <span>&nbsp;</span>
        <a data-lang="en">English</a>
    </div>
    <th:block th:with="message=${@systemService.systemInfo}">
        <marquee scrollamount="3" behavior="ALTERNATE" scrolldelay="150" th:if="${not #strings.isEmpty(message)}">
            <span style="color: red" th:utext="${message}"></span>
        </marquee>
    </th:block>
</th:block>
