<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main">
    <head>
        <title>Mail List</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <h2 style="text-align: center">
            <font color="blue" th:inline="text">Mail of [[${userId}]]</font>
        </h2>
        <table align="center" style="border: 0; margin: auto;">
            <tr bgcolor="#78C8FF">
                <td>No.</td>
                <td>From</td>
                <td>Title</td>
                <td>Date</td>
            </tr>
            <tr th:each="mail,it : ${mails}" th:object="${mail}" th:bgcolor="${it.odd}?'#78c8ff':'#c0c0c0'">
                <td th:text="${it.count}">1</td>
                <td><a th:href="@{/userstatus(user_id=*{from})}" th:text="*{from}">userId</a></td>
                <td>
                    <a th:href="@{/showmail(mail_id=*{id})}" th:style="*{newMail}?'font-weight: bold;'">
                        <font color="blue" th:text="*{title}">No Topic</font>
                    </a>
                </td>
                <td th:text="*{#calendars.format(T(java.util.Date).from(inDate),'yyyy-MM-dd H:mm:ss')}">2016-01-04</td>
            </tr>
        </table>
        <center>
            <span>[</span><a th:href="@{/mail(size=${size})}"><font color="blue">Top</font></a><span>]</span>
            <span>&nbsp;&nbsp;&nbsp;[</span><a th:href="@{/mail(start=${start gt size?start-size:0},size=${size})}"><font color="blue">Previous</font></a><span>]</span>
            <span>&nbsp;&nbsp;&nbsp;[</span><a th:href="@{/mail(start=${start+size},size=${size})}"><font color="blue">Next</font></a><span>]</span>
            <span>&nbsp;&nbsp;&nbsp;[</span><a th:href="@{/sendpage}"><font color="blue">Send Mail</font></a><span>]</span>
        </center>
        <!--/*/</th:block>/*/-->
    </body>
</html>
