<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Send mail</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <h2 style="text-align: center"><span style="color: blue">Write mail</span></h2>
        <form method="POST" th:action="@{/send}">
            <label th:for="${#ids.next('username')}">To:</label>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <input th:id="${#ids.seq('username')}" type="text" name="to" th:value="${to}" size="15"/>(Write Receiver's  User Id here)<br/>
            <label th:for="${#ids.next('title')}">Title:</label>
            <input th:id="${#ids.seq('title')}" type="text" name="title" th:value="${title}" size="94"/>
            <br/>
            <textarea rows="20" name="content" cols="100" th:utext="${content}"></textarea>
            <br/>
            <button type="submit">Send</button>
        </form>
        <!--/*/</th:block>/*/-->
    </body>
</html>
