<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main">
    <head>
        <title>Detail of mail</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content" th:object="${mail}">/*/-->
        <table style="border: 0; width: 80%">
            <tr bgcolor="#c0c0c0">
                <td>
                    <span>From: </span>
                    <font color="blue">
                        <a th:href="@{/userstatus(user_id=*{from})}" th:text="*{from}">userId</a>
                    </font>
                    <br/>
                    <span>Title:</span>
                    <font color="blue" th:text="*{title}">title</font>
                    <br/>
                    <span>Send Time: [[*{#calendars.format(T(java.util.Date).from(inDate),'yyyy-MM-dd HH:mm:ss')}]]</span>
                    <br/>
                </td>
            </tr>
            <tr bgcolor="#78c8ff">
                <td>
                    <hr/>
                    <span style="white-space: pre;" th:text="*{content}">zzzzz</span>
                    <hr/>
                </td>
            </tr>
        </table>
        <center>
            <span>[</span>
            <a href="@{/mail}">
                <font color="blue">Return</font>
            </a>
            <span>]&nbsp;&nbsp;&nbsp;[</span>
            <a th:href="@{/sendpage(reply=*{id})}">
                <font color="blue">Reply</font>
            </a>
            <span>]&nbsp;&nbsp;&nbsp;[</span>
            <a th:href="@{/deletemail(reply=*{id})}">
                <font color="blue">Delete</font>
            </a>
            <span>]</span>
        </center>
        <!--/*/</th:block>/*/-->
    </body>
</html>
