<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main">
    <head>
        <title>Detail of mail</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content" th:object="${mail}">/*/-->
        <table style="border: 0; width: 80%">
            <tr bgcolor="#c0c0c0">
                <td th:inline="text">
                    <span>From: </span><font color="blue"><a th:href="@{/userstatus(user_id=*{from})}" th:text="*{from}">userId</a></font><br/>
                    <span>Title:</span><font color="blue" th:text="*{title}">关于1695分栗子</font><br/>
                    <span>Send Time:</span>[[*{#calendars.format(T(java.util.Date).from(inDate),'yyyy-MM-dd HH:mm:ss')}]]<br/>
                </td>
            </tr>
            <tr bgcolor="#78c8ff">
                <td>
                    <hr/>
                    <span style="white-space: pre;" th:text="*{content}">zzzzz</span>
                    <hr/>
                </td>
            </tr>
        </table>
        <center>[<a href="@{/mail}"><font color="blue">Return</font></a>]&nbsp;&nbsp;&nbsp;[<a th:href="@{/sendpage(reply=*{id})}"><font color="blue">Reply</font></a>]&nbsp;&nbsp;&nbsp;[<a th:href="@{/deletemail(reply=*{id})}"><font color="blue">Delete</font></a>]</center>
        <!--/*/</th:block>/*/-->
    </body>
</html>
