<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title th:text="#{onlinejudge.user.findpassword.title}">find password</title>
        <script src="../../static/js/findpassword.js" th:src="@{/js/findpassword.js(_=${application.startupDate})}"></script>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <div align="center" id="findpassword">
            <div>
                <b th:text="#{onlinejudge.user.findpassword.title}">find password</b>
            </div>
            <table>
                <tr>
                    <td>
                        <label th:for="${#ids.next('username')}" th:text="#{onlinejudge.form.username.label}">username:</label>
                    </td>
                    <td>
                        <input th:id="${#ids.seq('username')}" name="username" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label th:for="${#ids.next('verify')}" th:text="#{onlinejudge.user.findpassword.verify.label}">verify code:</label>
                    </td>
                    <td>
                        <input th:id="${#ids.seq('verify')}" name="imgVerify" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <img th:src="@{/images/rand}" width="200" height="50"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="button" th:text="#{onlinejudge.user.findpassword.button}">reset password</button>
                    </td>
                </tr>
            </table>
        </div>
        <!--/*/</th:block>/*/-->
    </body>
</html>
