<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>[[${title}]]</title>
    </head>
    <body>
        <div style="width: 96%">
            <p align="center">[[${title}]]</p>
            <p><strong th:text="#{resetpassword.header(${nick})}">Dear [[${nick}]]:</strong></p>
            <p th:text="#{resetpassword.link-hint}">Hello, this is the link to reset password:</p>
            <p><a th:href="${url}" th:text="${url}">url</a></p>
            <p th:text="#{resetpassword.post-text(${expireHour})}">This link will be expired in [[${expireHour}]] hour</p>
            <p>(<span th:text="${#calendars.format(#execInfo.now,'yyyy-M-d H:mm')}">2016-2-3 19:00</span>)</p>
        </div>
    </body>
</html>
