<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>[[${title}]]</title>
    </head>
    <body>
        <div style="width: 96%">
            <p align="center">[[${title}]]</p>
            <p><strong>亲爱的用户：</strong></p>
            <p>您好！您正在进行邮箱验证，本次请求的重设密码链接为：</p>
            <p><a th:href="${url}" th:text="${url}">url</a>(为了保障您帐号的安全性，请在1小时内完成验证。)</p>
            <p>如果您没有进行过找回密码的操作，请不要点击上述链接，并删除此邮件。 </p>
            <p>(<span th:text="${#calendars.format(#execInfo.now,'yyyy年M月d日')}">2016-2-3</span>)</p>
        </div>
    </body>
</html>
