a:link, a:visited {
    color: blue;
    text-decoration: none;
}
a:active, a:hover {
    color: red;
    text-decoration: underline;
}
/* class sortable required /problemlist and problemstatus */
a.sortable {
    text-decoration: none;
    color: #FF6;
}
a.sortable:hover {
    text-decoration: underline;
}
div.sd1 {
    position: absolute;
    left: 0;
}
div.sd2 {
    position: absolute;
    right: 0;
}
div.ptt {
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: blue;
}
div.plm {
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12pt;
}
div.ptx {
    font-family: serif;
    font-size: 12pt;
}
p.pst {
    text-align: left;
    font-family: sans-serif;
    font-size: 18pt;
    font-weight: bold;
    color: blue;
}
th.top {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    text-align: center;
}
td.top {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
th.inc {
    color: #FFF;
    text-align: center;
    background: #6589d1;
    border-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.scbg {
    background: #f1f1fd;
}
.scbg form {
    *margin: 0;
}
.scbg form button {
    *margin: auto;
    *padding: 0 5px;
}
.scbg:hover {
    background: #DAE6FF;
}
table.problem-status {
    border-collapse: collapse;
    font-family: "Times New Roman", Times, serif;
}
tr.inc {
    color: #FFF;
    text-align: center;
    background: #6589d1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
tr.top {
    background: #6589d1;
    vertical-align: top;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}
.page-index {
    padding: 40px 0;
    text-indent: 4em;
}
.table-back {
    background: url(../images/table_back.jpg);
}
/* standing */
.standing {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.standing td, .standing th {
    border: 1px white solid;
    padding-left: 2px;
    padding-right: 2px;
}
.standing th {
    padding-left: 8px;
    padding-right: 8px;
}
/* faq */
.faq .q {
    font-size: 12.0pt;
    color: green;
}
.faq .a {
    font-size: 12.0pt;
    color: red;
}
.text-center {
    text-align: center!important;
}
.pagination li {
    display: inline;
    margin: 8px;
}
.problem-list .ac .status {
    background: url(data:image/gif;base64,R0lGODlhFAAUAMQAAAAAAP////wFBfUGBvQMDPUUFNcYGOQgILkbG/ElJdomJuo6Otg7O740NMY9PZ81Nd5aWt9iYqFKSrBVVW84ONxxcclqarZjY6teXtV+foVbW6l8fGxgYP///wAAAAAAACH5BAEAAB0ALAAAAAAUABQAAAVTYCeOZGmeaIau3ZKoLJklhRWTkVBc95jvPRFEhwl2hgKHsVNIsioLyCghOGhYTYFtISBIYsgDQyBocG4KMvkQnAzUD6OBbFg6BgjKcvNd+v+AIyEAOw==) center no-repeat;
    *background: url(../images/accepted.gif) center no-repeat;
}
.problem-list .wa .status {
    background: url(data:image/gif;base64,R0lGODlhFAAUAJEAAAAAAP////kJCf///yH5BAEAAAMALAAAAAAUABQAAAIpnI+py20CoUOxzmGti4dv+YCNh4lXaU7aWQlnmKqx7L72Qr45O99+UwAAOw==) center no-repeat;
    *background: url(../images/wrong.gif) center no-repeat;
}
.problem-list.notlogined .status {
    display: none;
    border: 0;
    margin: 0;
    padding: 0;
}
.problem-list .id {
    width: 10%;
}
.problem-list.notlogined .title {
    width: 55%;
}
table.table-default {
    border-collapse: collapse;
}
table.table-default td, table.table-default th {
    border: 1px solid white;
    padding: 0;
}
a.self {
    color: red;
}
.solved-problems {
    float: left;
    padding: 0 2px;
}
.back-to-top {
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 1049;
    bottom: 7px;
    right: 7px;
    padding: 8px;
    color: transparent;
    overflow: hidden;
    font: 0/0 arial;
}
.back-to-top:before {
    background-color: #000;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    display: block;
    content: "";
}

.back-to-top:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 11px;
    background: url(data:image/gif;base64,R0lGODlhFAALALMAAP39/vn5+vr7/f////7+/vz8/Pv7+/n5+fX19fHx8f///wAAAAAAAAAAAAAAAAAAACH5BAEAAAoALAAAAAAUAAsAQARIUMkpiSWUHjIISNnkccRBGQJ5DYNghlMCcN0Hd7RgUK1aKKkNLIMDwEqWAGY46eE6gsGwgGAhfgqqlSN5EqKhwczbUTIVyE4EADs=);
    top: 22px;
    left: 18px;
}

.image1-50-26,
.image2-40-29,
.image3-25-23 {
    overflow: visible;
}

.image1-50-26:before {
    width: 50px;
    height: 36px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAkCAYAAADLsGk3AAAEX0lEQVR42u2YX2wURRzHR7CQlBhUFCsh9AGNhSBKFIKkBoMkJqRVwYe+kBRBCQRStIRAQoRGn3hAIkG7u3fUtBptaiJB00jDG+FPQCjW9G5nbimRtFQTA4Q2MUULx3eGoTc7O3t31b07mjjJJ3u3+9uZ329+f2Z2CCl+2wjSIAG+A01gEpmAbTp4ToEb0g8Y+BZUkAneqsFJcBtsn6heUtvLYB/oBS89WKrZiWpiuY3EoUeJw/rHsN0m4qTWkcP0EcNbC8AlsLC0yjtsMbHpVyCdE4uehaF7DL28CPrAKyXyAPsQCt4IUfxmFqN+J3G2ROvtWTAAlhfRAG8uZrfToOA54njrSYv3JDnoTSVfXHlMYLO9eDZokN+s9fwOuAVmFiGU3GVQ4JpBKSo9dAo5MUiaE4sC71r0E0O4bdKk2kB3EbxBjwSUceh5v7F0m7hnny/3v5sug3yXfO96pg+2XRslCeoKmRPVBk/8TT5PVBiKwFnIvxe43+y+JvoRz5V+Wt0ZihRfPL8vZIVKBgyJpd4N8VxKGBlPPB7sx1tu8GqnJsVL8tTojYh5S40VyKFXSYwu1IzYIUPmdiCh23qmIYdMOTZK7F+rFMl2sLUAYYVFLfs6cZTEL1eSAxcfxe8RGHFIVLdgeNaH9+E2aeF1qBBJfloO2AcPvEXiXq0Py/1HKsMMSv6gcAte5PmzC7/vaHIfKyM+A45FbMRgOQYZUqrML6QjPVkztCGP1f0CsZNvZ8pxYj76Gs2EKTtTYEPYE36FWHuI3KUsRvwcUkA6S2dI7PJTARm+IbTpRzn2Wmuz5l7hDdFCK7Bis9dFgjv0a1yHDUbcvzcgFkX/BA0Xz5B7M9eVmdneF7T86MriiT+h4GpF2RO4foDisF8UDpspHqFxpdca8GX0hlh0p7FMWqhgYkPIQ0Riua1S9o6oaI73BpT8Df9dn5zNqsCnmQlya7Xy21ToBbF/rGrZtIdYqTV+WbpCynXkzj1ZtRyUZf8uoFt+95NCriWcmPTIX6Ttj2lBQ1g3CsCsHP39pITcN8qTV8F1MCUKtfln6UWQqfvN+BjKxPMQibFVYv/FV3OTRyxWl2Xf1qhMyjUST1YqT3+MetPYAM5os9iirSm9uO4mljffEFrBTSP/6NL78BtcKc/DKqM0pELGar0S11UhX3th+ydUtL7p4jvGUkJpzIhkszbmHt94EbalICVD7V7js2zTtnEYs8twf0CU5XT6IWUsvlPuGa+CD4P1ecJzZRA8ry2EdWIbn7dBY6QMO+NNMqSsHLoEWplSq/PhuJytBYGDCJseyHKacp8R4QWLbjDosk1WqXz0EMcs/4WVgJfIYdAIJgfLafJp5NAW/6LHD+fcmpDDuXKZEwPyOCivlo6YcwHvjK/VSi/sK+X54hw+/+AG+Ay86SsG4W22lOXFowXMe1BOe/nK+z44BUZkHpniugsMKd7cn0cuNJTSsPoIWUP+b9kbry6jEVLzb5S4C7GCbvlnEbZ/AAAAAElFTkSuQmCC) center no-repeat;
}
.image2-40-29:before {
    width: 28px;
    height: 28px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAIAAAD9b0jDAAAFlUlEQVRIx21WW29dRxX+1pqZfTsX+9hO7KSxQiICQqUUJIKgUoPSKBICKiRQ4SGI8j/4AbzwzBsPCCLxwAOXqioSQkFFqkrVElKkSLVlikgTO/ZJbJ/b3nNZi4cdHRsn87LXzKz51jezZq9vSFVxrLVdVYVSaiIiUkgpJiIQgQDDDAsqvHFO2HqwwhDIAAZggAA6AQpARKbTqapGJBCzYUNETAQAiDFGH+CTzbM8z22eERHABBAABegpUO990zTMrBBbQaGqBEBUpe0YYyl34upxCGFSZFyUGZMFzJO98P+DhhBCCERkrQWEU1DgCRFmEKkIwAJbJ84tSDXORgbJOUd5BWIFiMFzxBhjCMEYU5YlERGsSqGpZC2Z8tQwi9NoDWUGRCkpYAzIkTgzjn4afWJEAgA7R0wpZVkmInVdW2vBiM4Y1iYKqZJJIQWiBHY6rU09zbhbB1/0+7VoZOMlqUjGjDZRqto0DRExszFGRACk6J1TaGRGGO0nP0Vswmh/98G93fv3dza3zn/28y+++v1ZtNwbeIVvGpbQL0tDlkQkxigizKyqzrm6rrMsY/XTD9/e2bhrkB4/vDfafVCY1M2pNMYSev2lzb3Z2uXrz730zSbrimUJiWfj3CpXC1aQYghlVgngkxdImRHQbP/j7+/f/IXu/OdcLzfcPJdRx7BMx6cWF0bNJHT651cubH3w7uoLX9OFMhgurXGcyegA5QILxBmHoJzgnIt+ksKjjbdu3vnjrz995VreW55tfxwPtkaTT/ZH+4Vd8Frw4lKnmw8Qlv3hxq0/KD2aUTOBgjKSjoZknafIVFthEDWNVWy898Gtv/zt6rWr1fKFs5df3nzz3+tZbq0Vkw85GBEE0aapxl7G+Xiq9cXPrHz5pVFMqayASlQYgdmahjxMcJw+eufd3//qt1e+9ZqcvfSIuqtfvUqXvvBwYsd79cH+wXb9aLd+PB4fZlWRs3bjrDN88NEbv0v3/9sh8YxZzkESizMAumy4Gd9556+/ufnL7/7o9f65S6k6ZVfOPiyqy6/dGAXHNZdRC8RSU6eJh9sHuzt7w+HOZDzc+2Tr9p/fcqopiLUkqjzJIYCJWj98fPufty9/45XTLzwveXe5dybvdVKv11+/ePXb3wuN2llotodxexgejPwhR16YdQe7ZbbN8vHeTn14kPmUR5CCdlUHqmbmQSmx36snnHV5yiUVTd9Mwsjs3V872H37pz/xOxtV18VGCjeYDU6PmIdMYWnw/JVXvnL9O8YN0DBsNvUTm0MFapxBVJgqhtlCp7BdDpPm7u3N9fVzSyufQqd74Yevv/nzny1yFquyd+aiDJbK02trg+XGldW5z7E7paLC0Tgxam2VVBgzZ9XajNAz3dITZ/zGrT+9/96/BuXKjR/f6J05tfj1a18Kk4PNe3bxHNbPF90qqxbg+qGmsjPQZMnCm5hoaslaAwIQASakpLlzUIgkk5m11dP1wezOh3eurL/cmOUXr/9ga+2u6S7L0qDIbFX1DYqDvUOZeTaIqsa4kJKzziqDVDuqzAxDE0pqkLucE1knxaIpqlQBWSoj3NqlL1prq6pqf+sQgjd1LGJCIiCD1ehMbuzTWtIW1tXVVWvtcDi01rYQzrksy1oHZm4Lm7WWmYmIiESkRTiymHmOG2NsuwBa77nSMDMzp5TaWq6qMUbnnKq2Bd45xyfUqUVR1ZSSMSalNMdqa2M71dp4ogsQEe+9iFhrj+ppy5eIjDHHAxyPd1x4Wr70RAyRUmo355w7Am1b6z13PYE7H5/b7ZI5oSP6R0J/LFfHz/dpxHaqHQkhqGorGe25Ufs54d0SPE756SYiIjJP19yzNZ79mEgptTFbCidCtrlqIdordQKBnvnsaVcys4gQUYxxfmot1vxuPnM3/wNGvIH3r0BU1AAAAABJRU5ErkJggg==) center no-repeat;
}
.image3-25-23:before {
    width: 25px;
    height: 23px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAXCAYAAAD+4+QTAAACbklEQVR42rVVSWgVQRBtxQU16sGA4sm7Qjy4XhTxILij4ooQEa+BgAkoZpYI+WI0SkQhKB49aBARD24HDSIBUdG4IF5cTmJcQCVR0Ofrmsr/PfNnJj/x2/Do6u7qVzW19BhTreFjtmnBcs7tJsBNzj3VIT6ImcbDLhLeIn4TcPDHdGH86MkDzCPJeeKXQzpIPCB6iQHdWzJycg8refF2wmOLc+YAZjhOTCMC7u8ciee1xMUUcosG0WnFQspniCsmxA7Z248pw5N3YiK9b+TF/gwDZ9WJeso/E2c3uD8538ARTKfihQxyiw8kqWFFzU3kxsXpvPDMIZ7mGLDoUN2hMB6mPIHzauJbUc9ylY1QkvtxGANgDuqkN2zpBriW4Fjn6LYnv2As4fHgqOJ1hpEB1V8r6xBrKM+nfJ3hq9PmfK66D0sGWrCUSd5d1g9eatIfK1GBOt9V7qGu7ZXLuu5S3U9uD+yT2g4wK2aoFYt130W9OrGe95qUtEHi7+OtnrUVnZLG8XFPLAZ4J97H49skZ3G8FPIA9ym/EjkKz0lZR0Y6XSPHi4tkuHxszcjJFyU6JuEKMI57p/SsoHe7tbreWMWN+ub8oHwnhvIGQ6w0hxLvYZtpxCTh6pC5Rvgi3W51GWOouKqC3nDRbNr4Xnn4LOGz5KUInHCiszetTzbz8EkFRnq15Au6tndC4pKj8940Y2p214fYIKWaZ8jDHi2cRylnNlfLKn2BN/HSiwxD/dKE0St9VX5U0X4fsWA0v9ftJHqWWmkeVpiqDh9bMnJ2l04c+rdfrjvAagxZtraqSiX9lfMi81+GJ8b68n61fwHpsPVn4V/4LAAAAABJRU5ErkJggg==) center no-repeat;
}

.image1-50-26:before,
.image2-40-29:before,
.image3-25-23:before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
form.form-horizontal .ng-dirty.ng-invalid {
    border-color: #cb1b1b;
}
.sortable {
    cursor: pointer;
}
a.btn-default, a.btn-default:link, a.btn-default:visited {
    color: #333;
}
.multiSelect > button {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZC11Y2dnLWdlbmVyYXRlZCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIvPjwvc3ZnPg==);
    background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f7f7f7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-8 */
}
.multiSelect > button:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9e9e9+100 */
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTllOWU5IiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #e9e9e9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e9e9e9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e9e9e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-8 */
}
.multiSelect > button:disabled {
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZC11Y2dnLWdlbmVyYXRlZCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIvPjwvc3ZnPg==);
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.multiSelect .multiSelectItem:not(.multiSelectGroup).selected {
    background: #e9e9e9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjFmMWYxIiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+);
    background: -moz-linear-gradient(top, #e9e9e9 0%, #f1f1f1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e9e9e9 0%,#f1f1f1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e9e9e9 0%,#f1f1f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-8 */
}
/* item labels focus on mouse hover */
.multiSelect .multiSelectItem:hover, .multiSelect .multiSelectGroup:hover {
    background: #c1c1c1!important; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZC11Y2dnLWdlbmVyYXRlZCIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYzFjMWMxIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIvPjwvc3ZnPg==)!important;
    background: -moz-linear-gradient(top, #c1c1c1 0%, #999999 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c1c1c1 0%,#999999 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c1c1c1 0%,#999999 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#999999',GradientType=0 )!important; /* IE6-8 */
}
.multiSelect .multiSelectFocus {
    background: #c1c1c1!important; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxYzFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOTk5OTk5IiBzdG9wLW9wYWNpdHk9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+PC9zdmc+)!important;
    background: -moz-linear-gradient(top, #c1c1c1 0%, #999999 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c1c1c1 0%,#999999 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c1c1c1 0%,#999999 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1c1c1', endColorstr='#999999',GradientType=0 )!important; /* IE6-8 */
}
@media all and (min-width:0\0) and (min-resolution: .001dpcm) {
    .multiSelect > button, .multiSelect > button:hover, .multiSelect > button:disabled, .multiSelect .multiSelectItem:not(.multiSelectGroup).selected {
        filter: none;
    }
    .multiSelect .multiSelectItem:hover, .multiSelect .multiSelectGroup:hover, .multiSelect .multiSelectFocus {
        filter: none!important;
    }
}
