<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.github.io/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjnu.acm.judge.mapper.LoginlogMapper">
    <insert id="save">
        insert into loginlog (user_id,type,ip,time,success) values
        <foreach item='item' collection='list' separator=','>
            (#{item.user},#{item.type},#{item.ip},now(),#{item.success})
        </foreach>
    </insert>
</mapper>
