<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title th:text="${title}">Contests</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <table width="780" class="table-default text-center table-back" style="margin: 0 auto">
            <thead>
                <tr class="inc">
                    <th width="10%"><b>ID</b></th>
                    <th width="40%"><b>Title</b></th>
                    <th width="30%"><b>Start Time</b></th>
                    <th width="20%"><b>Status</b></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="contest:${contests}" th:object="${contest}">
                    <td>[[*{id}]]</td>
                    <td>
                        <a th:href="@{/showcontest(contest_id=${contest.id})}">[[*{title}]]</a>
                    </td>
                    <td>[[*{#calendars.format(T(java.util.Date).from(startTime),"yyyy-MM-dd HH:mm:ss")}]]</td>
                    <td th:switch="*{(started?1:0)+(ended?1:0)}">
                        <span th:case="0" style="color: blue">Pending</span>
                        <span th:case="1" style="color: red">Running</span>
                        <span th:case="2" style="color: green">Ended</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--/*/</th:block>/*/-->
    </body>
</html>
