<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <!--/*--><meta charset="UTF-8"/><!--*/-->
        <title>FAQ</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap-theme.css}" rel="stylesheet"/>
        <link href="../static/css/site.css" th:href="@{/css/site.css}" rel="stylesheet"/>
        <!--/*-->
        <style>.q .a .sh_c .sh_pascal .sh_java .container .faq{}</style>
        <!--*/-->
    </head>
    <body>
        <div class="container faq" layout:fragment="content">
            <p><span class="q">Q</span>: Where are the input and the output?</p>
            <p><span class="a">A</span>: Your program shall always read input from stdin (Standard Input) and write output to stdout (Standard Output). For example, you can use 'scanf' in C or 'cin' in C++ to read from stdin, and use 'printf' in C or 'cout' in C++ to write to stdout.</p>
            <p>User programs are not allowed to open and read from/write to files. You will get a '<span style="color: green">Runtime Error</span>' or a '<span style="color: green">Wrong Answer</span>' if you try to do so. </p>
            <p></p>
            <p>Here is a sample solution for problem 1000 using C++/G++:</p>
            <pre class="sh_c">#include &lt;iostream&gt;<br/>using namespace std;<br/>int main() {<br/>    int a, b;<br/>    cin &gt;&gt; a &gt;&gt; b;<br/>    cout &lt;&lt; a + b &lt;&lt; endl;<br/>    return 0;<br/>}</pre>
            <p><span style="color:#FF0000;font-size: x-large">It's important that the return type of main() must be int when you use G++/GCC, or you may get </span>
                <span style="color:#008080;font-size: x-large">compile error</span>
                <span style="color:#FF0000;font-size: x-large">.</span></p>
            <p>Here is a sample solution for problem 1000 using C/GCC:</p>
            <pre class="sh_c">#include &lt;stdio.h&gt;<br/>int main() {<br/>    int a, b;<br/>    scanf(&quot;%d %d&quot;, &amp;a, &amp;b);<br/>    printf(&quot;%d\n&quot;, a + b);<br/>    return 0;<br/>}</pre>
            <p>Here is a sample solution for problem 1000 using PASCAL:</p>
            <pre class="sh_pascal">program p1000(Input, Output); var<br/>a, b:Integer;<br/>begin<br/>Readln(a, b);<br/>Writeln(a + b);<br/>end.</pre>
            <p>Here is a sample solution for problem 1000 using JAVA:</p>
            <p>
                <span style="color: red;font-size: x-large">Now java compiler is jdk 1.5, next is program for 1000.</span></p>
            <pre class="sh_java">import java.util.Scanner;<br/><br/>public class Main {<br/>    public static void main(String args[]) {<br/>        Scanner cin = new Scanner(System.in);<br/>        int a = cin.nextInt(), b = cin.nextInt();<br/>        System.out.println(a + b);<br/>    }<br/>}</pre>
            <p>
                <span style="color: red">Old program for jdk 1.4</span></p>
            <pre class="sh_java">import java.io.*;<br/>import java.util.*;<br/><br/>public class Main {<br/>    public static void main(String args[]) throws Exception {<br/>        BufferedReader stdin<br/>                = new BufferedReader(<br/>                        new InputStreamReader(System.in));<br/><br/>        String line = stdin.readLine();<br/>        StringTokenizer st = new StringTokenizer(line);<br/>        int a = Integer.parseInt(st.nextToken());<br/>        int b = Integer.parseInt(st.nextToken());<br/>        System.out.println(a + b);<br/>    }<br/>}</pre>
            <p><span class="q">Q</span>: How to submit java program?</p>
            <p><span class="a">A</span>: The Java programs submitted must be in a single source code (not .class) file. They must read and write the standard input/output, as the other languages. All programs must begin in a static main method in a Main class. However, you can add and instance as many classes as needed.</p>
            <p><span class="q">Q</span>: <span style="font-size: medium">Can I use shortcut key when submitting?</span></p>
            <p><span class="a">A</span>: Here are shortcut keys defined in the submit page</p>
            <p><span style="font-size: medium"><span style="color:#FF00FF"><b>ALT+s</b></span> :Submit button</span></p>
            <p><span style="font-size: medium"><span style="color:#FF00FF"><b>ALT+u</b></span> :User id field, if you haven't login.</span></p>
            <p><span style="font-size: medium"><b><span style="color:#FF00FF">ALT+l</span></b> :Language Option</span></p>
            <p><span style="font-size: medium"><b><span style="color:#FF00FF">ALT+p</span></b> :Problem Id filed</span></p>
            <p></p>
            <p></p>
            <p><span class="q">Q</span>: What is the meaning of the judger's replies?</p>
            <p><span class="a">A</span>: Here is a list of the judge's replies and their meaning:</p>
            <p><span style="color: blue">Waiting</span>: The judge is so busy that it can't judge your submit at the moment, usually you just need to wait a minute and your submit will be judged.</p>
            <p><span style="color: blue">Accepted</span>: OK! Your program is correct!</p>
            <p><span style="color: blue">Presentation Error</span>: Your output format is not exactly the same as the judge's output, although your answer to the problem is correct. Check your output for spaces, blank lines, etc against the problem output specification.</p>
            <p><span style="color: blue">Wrong Answer</span>: Correct solution not reached for the inputs. The inputs and outputs that we use to test the programs are not public (it is recommendable to get accustomed to a true contest dynamic ;-).</p>
            <p><span style="color: blue">Runtime Error</span>: Your program failed during the execution (illegal file access, stack overflow, pointer reference out of range, floating point exception, divided by zero...).</p>
            <p><span style="color: blue">Time Limit Exceeded: Your program tried to run during too much time.</span></p>
            <blockquote>
                <p><span style="font-size: medium">Now each problem have two time limit--TOTAL TIME LIMIT and CASE TIME LIMIT. When JudgeOnline run your program, it redirect your program's standard input to input file, then you can just read from standard input. And one problem may have several input files, when your program finished one input file and produce the correct output, JudgeOnline then restart your program to deal with next input file. Each input file's format is exactly as the problem's input specification. Case time limit is the maximum time your program is allowed to use for each input file, and TOTAL TIME LIMIT is the maximum time for you to pass all input file. If your program exceed any one of this two time limit, you will receive time limit exceed.</span></p>
                <p><span style="font-size: medium">As most problems only have one or two input file (of course, also one or two output file), then the CASE TIME LIMIT is trivial then it will be set equal to TOTAL TIME LIMIT and the problem description will not display CASE TIME LIMIT.</span></p>
                <p><span style="font-size: medium">So when you got time limit exceed, but you find the time your program used is much less than TOTAL TIME LIMIT----your program must exceed CASE TIME LIMIT.</span></p>
            </blockquote>
            <p><span style="color: blue">Memory Limit Exceeded</span>: Your program tried to use more memory than the judge default settings. </p>
            <p><span style="color: blue">Output Limit Exceeded</span>: Your program tried to write too much information. This usually occurs if it goes into a infinite loop. Currently the output limit is 2*answer file's size.</p>
            <p><span style="color: blue">Compile Error</span>: The compiler could not compile your program. Of course, warning messages are not error messages. Click the link at the judge reply to see the actual error message.</p>
            <p><span style="color: blue">No such problem</span>: Either you have submitted a wrong problem id or the problem is unavailable.</p>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js" th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js" th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.js}"></script>
    </body>
</html>
