<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <!--/*--><meta charset="UTF-8"/><!--*/-->
        <title th:text="#{onlinejudge.title}">Welcome to JudgeOnline</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <th:block th:utext="${content}"></th:block>
        <!--/*/</th:block>/*/-->
    </body>
</html>
