<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <!--/*--><meta charset="UTF-8"/><!--*/-->
        <title>Login Here</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <p th:if="${param.error!=null}" style="text-align: center; color: red">Id or password not correct. Please retry.</p>
        <form method="POST" th:action="@{/login}">
            <table align="center">
                <tr>
                    <td>
                        <label th:for="${#ids.next('username')}">User ID:</label>
                    </td>
                    <td>
                        <input type="text" th:id="${#ids.seq('username')}" name="user_id1" size="15"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label th:for="${#ids.next('password')}">Password:</label>
                    </td>
                    <td>
                        <input type="password" th:id="${#ids.seq('password')}" name="password1" size="15" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <input type="checkbox" name="rememberMe" value="true" th:id="${#ids.seq('rememberMe')}" checked="checked"/>
                        <label th:for="${#ids.prev('rememberMe')}">Remember me</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <button type="submit">login</button>
                        <input type="hidden" th:if="${backURL!=null}" name="url" th:value="${backURL}"/>
                        <input type="hidden" th:if="${contestId!=null}" name="contest_id" th:value="${contestId}"/>
                    </td>
                </tr>
            </table>
        </form>
        <div align="center">
            <font size="5">Have no ID? <a th:href="@{/registerpage}">REGISTER NOW.</a></font>
        </div>
        <!--/*/</th:block>/*/-->
    </body>
</html>
