<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      ng-app="adminApp"
      th:lang="#{lang}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>在线评测系统管理后台</title>
        <base href="./" th:href="@{/admin/}"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="../static/css/site.css" th:href="@{/css/site.css(_=${T(org.springframework.web.context.support.WebApplicationContextUtils).getRequiredWebApplicationContext(#servletContext).startupDate})}" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.css" th:href="@{/webjars/angular-loading-bar/0.9.0/build/loading-bar.min.css}" rel="stylesheet"/>
        <link href="https://rawgit.com/isteven/angular-multi-select/v4.0.0/isteven-multi-select.css" th:href="@{/webjars/angular-multi-select/4.0.0/isteven-multi-select.css}" rel="stylesheet"/>
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" th:src="@{/webjars/respond/1.4.2/dest/respond.matchmedia.addListener.min.js}"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <h4 class="text-center" style="color: #339">Welcome To Administrator's Page of Judge Online of ACM ICPC, ZheJiang Normal University</h4>
            <hr/>
        </div>
        <div class="container" ui-view="">
            <div class="text-center">加载中...</div>
        </div><!-- /#content -->
        <div class="container">
            <font size="3">
                <a ui-sref="index" ui-sref-opts="{reload: true}">回到主页</a>
            </font>
            <br/>
            <hr/>
            <p class="text-center">
                <font size="3">All Copyright Reserved 2006-[[${T(java.time.Year).now()}]]<br/>Any problem, Please Contact <a th:with="mail=${@systemService.adminMail}" th:remove="${#strings.isEmpty(mail)?'tag':_}" th:href="|mailto:${mail}|">Administrator</a>
                </font>
            </p>
        </div>
        <a th:title="#{onlinejudge.footer.back_to_top}" class="back-to-top" id="back-to-top" href="#top"></a>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js" th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.32/angular.js" th:src="@{/webjars/angular/1.2.32/angular.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.js" th:src="@{/webjars/angular-loading-bar/0.9.0/build/loading-bar.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.32/angular-resource.js" th:src="@{/webjars/angular-resource/1.2.32/angular-resource.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.32/angular-sanitize.js" th:src="@{/webjars/angular-sanitize/1.2.32/angular-sanitize.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-all.js" th:src="@{/webjars/ng-file-upload/12.2.13/dist/ng-file-upload-all.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.js" th:src="@{/webjars/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js" th:src="@{/webjars/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js" th:src="@{/webjars/angular-ui-router/0.2.18/release/angular-ui-router.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.js" th:src="@{/webjars/babel-polyfill/6.23.0/dist/polyfill.js}"></script>
        <script src="https://rawgit.com/eight04/custom-input/v0.2.1/dist/custom-input.js" th:src="@{/webjars/custom-input/0.2.1/dist/custom-input.js}"></script>
        <script src="https://rawgit.com/eight04/angular-datetime/v5.1.3/dist/datetime.js" th:src="@{/webjars/angular-datetime-input/5.1.3/dist/datetime.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.10.0/ckeditor.js" th:src="@{/webjars/ckeditor/4.10.0/full/ckeditor.js}"></script>
        <script src="https://rawgit.com/isteven/angular-multi-select/v4.0.0/isteven-multi-select.js" th:src="@{/webjars/angular-multi-select/4.0.0/isteven-multi-select.js}"></script>
        <script src="../static/js/stable-sort.js" th:src="@{/js/stable-sort.js(_=${T(org.springframework.web.context.support.WebApplicationContextUtils).getRequiredWebApplicationContext(#servletContext).startupDate})}"></script>
        <script th:src="@{/webjars/ckfinder/2.6.2.1/ckfinder.js}"></script>
        <script src="../static/js/ng-ckeditor.js" th:src="@{/js/ng-ckeditor.js(_=${T(org.springframework.web.context.support.WebApplicationContextUtils).getRequiredWebApplicationContext(#servletContext).startupDate})}"></script>
        <script src="../static/js/admin.js" th:src="@{/js/admin.js(_=${T(org.springframework.web.context.support.WebApplicationContextUtils).getRequiredWebApplicationContext(#servletContext).startupDate})}"></script>

        <!--/*/<script type="text/ng-template" id="index.html">/*/-->
        <p align="left" style="font-size: large; color: #339">What can I do:</p>
        <p align="left" style="font-size: large; color: #339">
            <a class="image3-25-23" ui-sref="problem-add" ui-sref-opts="{reload: true}">Add a problem</a>
        </p>
        <p style="font-size: large; color: #339">
            <a class="image3-25-23" ui-sref="problem-list" ui-sref-opts="{reload: true}">See the problem list</a>
        </p>
        <p style="font-size: large; color: #339">
            <a class="image3-25-23" ui-sref="contest-add" ui-sref-opts="{reload: true}">Add a contest</a>
        </p>
        <p style="font-size: large; color: #339">
            <a class="image3-25-23" ui-sref="contest-list" ui-sref-opts="{reload: true}">See the contest list</a>
        </p>
        <p style="font-size: large; color: #339">
            <a class="image3-25-23" ui-sref="account-list" ui-sref-opts="{reload: true}">See the account list</a>
        </p>
        <p style="font-size: large; color: #339">
            <a class="image3-25-23" ui-sref="page-index-changer" ui-sref-opts="{reload: true}">Change Site Index Page</a>
        </p>
        <p style="font-size: large; color: #339">
            <a class="image3-25-23" ng-href="{{path.base}}logout.html">Logout</a>
            <br/>
        </p>
        <div class="setsysteminfo" style="color: #339">
            <form ng-submit="setSystemInfo()" role="form">
                <input type="text" ng-model="systemInfo.info"/>
                <input th:id="${#ids.seq('pureText')}" type="checkbox" name="pureText" ng-model="systemInfo.pureText"/>
                <label th:for="${#ids.prev('pureText')}">纯文本</label>
                <button class="btn btn-default" type="submit">set</button>
            </form>
        </div>
        <div style="color: #339">
            <form ng-submit="fix()" role="form">
                <button th:id="${#ids.seq('submit')}" type="submit" class="btn btn-default" ng-disabled="fix.disabled">修复提交数和Accepted数</button>
            </form>
        </div>
        <div style="color: #339">
            <form ng-submit="setContestOnly()" role="form">
                <label th:for="${#ids.next('contestOnly')}">只允许比赛提交：</label>
                <select th:id="${#ids.seq('contestOnly')}" ng-model="contestOnly.value">
                    <option value="">允许比赛外提交</option>
                    <option ng-repeat="contest in contests" value="{{contest.id}}" ng-selected="contest.id === contestOnly.value">{{contest.id}}: {{contest.title}}</option>
                </select>
                <button th:id="${#ids.seq('submit')}" type="submit" class="btn btn-default">设置</button>
            </form>
        </div>
        <!--/*/</script>/*/-->

        <!--/*/<script type="text/ng-template" id="contest-edit.html">/*/-->
        <form ng-submit="save()" class="form-horizontal" role="form" name="contestEditForm">
            <h4 class="text-center">{{form.id ? '编辑比赛' + form.id : '添加比赛'}}</h4>
            <div class="form-group">
                <label th:for="${#ids.next('title')}" class="col-sm-2 control-label">标题：</label>
                <div class="col-sm-7">
                    <input th:id="${#ids.seq('title')}" class="form-control" type="text" name="title" ng-model="form.title" required=""/>
                </div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('description')}" class="col-sm-2 control-label">描述：</label>
                <div class="col-sm-7">
                    <input th:id="${#ids.seq('description')}" class="form-control" name="description" ng-model="form.description"/>
                </div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('start')}" class="col-sm-2 control-label">开始时间：</label>
                <div class="col-sm-7">
                    <input th:id="${#ids.seq('start')}" type="text" datetime="yyyy-MM-dd HH:mm:ss" placeholder="yyyy-MM-dd HH:mm:ss" class="form-control" ng-model="form.start" min="{{form.min.toUTCString()}}" required=""/>
                </div>
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('length')}" class="col-sm-2 control-label">比赛长度：</label>
                <div class="col-sm-7">
                    <input th:id="${#ids.seq('length')}" type="text" name="length" placeholder="d H:mm:ss" value="5:00:00" class="form-control" required="" pattern="(\d+\s+)?\d+:[0-5]?[0-9]:[0-5]?[0-9]" ng-model="form.length"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">结束时间：</label>
                <div class="col-sm-7">
                    <input readonly="" ng-value="form.end|date:'yyyy-MM-dd HH:mm:ss'" class="form-control" name="endTime"/>
                </div>
            </div>
            <div class="table-responsive">
                <table class="text-center table table-striped table-hover problems">
                    <thead>
                        <tr class="row">
                            <th class="col-sm-1 text-center">编号</th>
                            <th class="col-sm-3 text-center">题目ID</th>
                            <th class="col-sm-5 text-left">标题</th>
                            <th class="col-sm-3 text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row" ng-repeat="p in form.problems">
                            <ng-form name="innerForm">
                                <td class="col-sm-1 text-center" style="vertical-align:middle">
                                    <b>{{toProblemIndex($index)}}</b>
                                </td>
                                <td class="col-sm-3 text-center" style="vertical-align:middle">
                                    <input name="origin" type="number" autofocus="autofocus" required="required" autocomplete="off" ng-model="p.origin" ng-change="change(p, innerForm)" pattern="[1-9][0-9]+" request-focus=""/>
                                </td>
                                <td class="col-sm-5 text-left" style="vertical-align:middle">
                                    <span ng-show="p.title">{{p.title}}</span>
                                    <span ng-show="p.$message" style="color: red">{{p.$message}}</span>
                                </td>
                                <td class="col-sm-3 text-center">
                                    <button type="button" class="btn btn-default" ng-click="moveUp($index)" ng-disabled="$first">上移</button>
                                    <button type="button" class="btn btn-default" ng-click="moveDown($index)" ng-disabled="$last">下移</button>
                                    <button type="button" class="btn btn-default" ng-click="remove($index)">移除</button>
                                </td>
                            </ng-form>
                        </tr>
                        <tr class="row item">
                            <td class="col-sm-12 text-center" colspan="4">
                                <button type="button" class="btn btn-default" ng-click="add()">添加题目</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button type="submit" class="btn btn-default" ng-disabled="contestEditForm.$invalid">Submit</button>
                    <button type="button" class="btn btn-danger" ng-click="reset()">Reset</button>
                </div>
            </div>
        </form>
        <!--/*/</script>/*/-->

        <!--/*/<script type="text/ng-template" id="problem-edit.html">/*/-->
        <select ng-show="locales.length >= 1" ng-change="change()" ng-model="locale" class="ng-hide">
            <option value="und">默认语言</option>
            <option ng-repeat="item in locales" value="{{item.id}}" ng-selected="locale === item.id">{{item.name}}</option>
        </select>
        <h1>{{editor.hint}}</h1>
        <p class="text-center">
            <font size="4" color="#339">{{editor.hint2}}</font>
        </p>
        <form name="problemEditForm" role="form" ng-submit="save()">
            <p align="left">Problem Id:&nbsp;&nbsp;{{problem.id|| 'New Problem'}}</p>
            <p align="left">
                <label th:for="${#ids.next('title')}">Title:</label>
                <input th:id="${#ids.seq('title')}" name="title" rows="1" style="width: 100%" ng-model="problem.title" required="required"/>
            </p>
            <p align="left">
                <label th:for="${#ids.next('timeLimit')}">Time Limit:</label>
                <input th:id="${#ids.seq('timeLimit')}" type="number" name="timeLimit" size="20" ng-model="problem.timeLimit" required="required"/>MS</p>
            <p align="left">
                <label th:for="${#ids.next('memoryLimit')}">Memory Limit:</label>
                <input th:id="${#ids.seq('memoryLimit')}" type="number" name="memoryLimit" size="20" ng-model="problem.memoryLimit" required="required"/>KByte</p>
            <p align="left">
                <label th:for="${#ids.next('description')}">Description:</label>
                <br/>
                <textarea th:id="${#ids.seq('description')}" class="editable" rows="13" name="description" style="width: 100%;" ng-model="problem.description"></textarea>
            </p>
            <p align="left">
                <label th:for="${#ids.next('input')}">Input:</label>
                <br/>
                <textarea th:id="${#ids.seq('input')}" class="editable" rows="13" name="input" style="width: 100%;" ng-model="problem.input"></textarea></p>
            <p align="left">
                <label th:for="${#ids.next('output')}">Output:</label>
                <br/>
                <textarea th:id="${#ids.seq('output')}" class="editable" rows="13" name="output" style="width: 100%;" ng-model="problem.output"></textarea>
            </p>
            <p align="left">
                <label th:for="${#ids.next('sampleInput')}">Sample Input:</label>
                <br/>
                <textarea th:id="${#ids.seq('sampleInput')}" rows="13" name="sampleInput" style="width: 100%;" ng-model="problem.sampleInput"></textarea>
            </p>
            <p align="left">
                <label th:for="${#ids.next('sampleOutput')}">Sample Output:</label>
                <br/>
                <textarea th:id="${#ids.seq('sampleOutput')}" rows="13" name="sampleOutput" style="width: 100%;" ng-model="problem.sampleOutput"></textarea>
            </p>
            <p align="left">
                <label th:for="${#ids.next('hint')}">Hint:</label>
                <br/>
                <textarea th:id="${#ids.seq('hint')}" class="editable" rows="13" name="hint" style="width: 100%;" ng-model="problem.hint"></textarea>
            </p>
            <p align="left">
                <label th:for="${#ids.next('source')}">Source:</label>
                <br/>
                <textarea th:id="${#ids.seq('source')}" class="editable" name="source" rows="1" style="width: 80%" ng-model="problem.source"></textarea>
            </p>
            <!--/* TODO contest field in problem */-->
            <p align="left" ng-hide="problem.id">
                <label th:for="${#ids.next('contest')}">添加到比赛：</label>
                <span th:id="${#ids.seq('contest')}" isteven-multi-select input-model="contests" output-model="problem.contests" button-label="title" item-label="id title" tick-property="selected" disable-property="disabled" helper-elements="all none" output-properties="id" translation="{nothingSelected:'不加到任何比赛，题目将不可用',selectAll:'全选',selectNone:'清空'}"></span>
            </p>
            <div class="text-center"><button type="submit">Submit</button></div>
        </form>
        <!--/*/</script>/*/-->

        <!--/*/<script type="text/ng-template" id="problem-list.html">/*/-->
        <p class="text-center">
            <font size="4" color="#339">Problem List</font>
        </p>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="text-center">
                        <th width="10%" class="sortable" ng-click="push('id')">编号</th>
                        <th width="45%" class="sortable" ng-click="push('title')">标题</th>
                        <th width="8%" class="sortable" ng-click="push('disabled')">状态</th>
                        <th width="20%" class="sortable" ng-click="push('inDate,desc')">最后提交</th>
                        <th width="16%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="p in page.content">
                        <td>{{p.id}}</td>
                        <td align="left">
                            <a ui-sref="problem-view-current({id:p.id})" ui-sref-opts="{reload: true}">{{p.title||'无标题'}}</a>
                        </td>
                        <td>{{p.disabled?'已禁用':'可用'}}</td>
                        <td>{{p.inDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>
                            <a class="btn btn-default" ui-sref="problem-edit-current({id:p.id})" ui-sref-opts="{reload: true}">编辑</a>
                            <button class="btn btn-default" type="button" ng-show="p.disabled" ng-click="enable(p)">启用</button>
                            <button class="btn btn-default" type="button" ng-hide="p.disabled" ng-click="disable(p)">禁用</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix" ng-hide="1 >= page.totalPages && page.number === 0">
            <pagination total-items="page.totalElements" ng-model="currentPage" max-size="10" items-per-page="page.size" ng-change="pageChanged()" boundary-links="true" direction-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
        <!--/*/</script>/*/-->

        <!--/*/<script type="text/ng-template" id="problem-view.html">/*/-->
        <select ng-show="locales.length >= 1" ng-change="change()" ng-model="locale" class="ng-hide">
            <option value="und">默认语言</option>
            <option ng-repeat="item in locales" value="{{item.id}}" ng-selected="locale === item.id">{{item.name}}</option>
        </select>
        <h2 class="text-center">{{problem.title}}</h2>
        <p class="text-center">Time Limit:{{problem.timeLimit}}MS&nbsp; Memory Limit:{{problem.memoryLimit}}K<br/>Total Submit:{{problem.submit}} Accepted:{{problem.accepted}}</p>
        <p align="left"><b><font color="#339" size="5">Description</font></b></p>
        <div class="description" ng-bind-html="problem.description"></div>
        <p align="left"><b><font color="#339" size="5">Input</font></b></p>
        <div class="input" ng-bind-html="problem.input">input</div>
        <p align="left"><b><font color="#339" size="5">Output</font></b></p>
        <div class="output" ng-bind-html="problem.output">output</div>
        <p align="left"><b><font color="#339" size="5">Sample Input</font></b></p>
        <pre class="sampleInput">{{problem.sampleInput}}</pre>
        <p align="left"><b><font color="#339" size="5">Sample Output</font></b></p>
        <pre class="sampleOutput">{{problem.sampleOutput}}</pre>
        <p align="left"><b><font color="#339" size="5">Hint</font></b></p>
        <div class="hint" ng-bind-html="problem.hint">hint</div>
        <p align="left"><b><font color="#339" size="5">Source</font></b></p>
        <div class="source" ng-bind-html="problem.source">source</div>
        <font color="#339" size="3">
            <p class="text-center">
                <span>[</span>
                <a ng-hide="problem.disabled" href="javascript:void(0)" ng-click="disable(problem)">禁用</a>
                <a ng-show="problem.disabled" href="javascript:void(0)" ng-click="enable(problem)">启用</a>
                <span>]&nbsp;&nbsp;</span>
                <span>[</span>
                <a ui-sref="problem-edit-locale({id:problem.id,locale:locale})" ui-sref-opts="{reload: true}">编辑</a>
                <span>]</span>
            </p>
        </font>
        <!--/*/</script>/*/-->

        <!--/*/<script type="text/ng-template" id="contest-list.html">/*/-->
        <div class="text-right">
            <input th:id="${#ids.seq('checkbox')}" type="checkbox" ng-model="query.include.PENDING" ng-change="load()"/>
            <label th:for="${#ids.prev('checkbox')}">Pending</label>
            <input th:id="${#ids.seq('checkbox')}" type="checkbox" ng-model="query.include.RUNNING" ng-change="load()"/>
            <label th:for="${#ids.prev('checkbox')}">Running</label>
            <input th:id="${#ids.seq('checkbox')}" type="checkbox" ng-model="query.include.ENDED" ng-change="load()"/>
            <label th:for="${#ids.prev('checkbox')}">Ended</label>
            <input th:id="${#ids.seq('checkbox')}" type="checkbox" ng-model="query.include.ERROR" ng-change="load()"/>
            <label th:for="${#ids.prev('checkbox')}">Error</label>
            <input th:id="${#ids.seq('checkbox')}" type="checkbox" ng-model="query.includeDisabled" ng-change="load()"/>
            <label th:for="${#ids.prev('checkbox')}">显示已禁用的比赛</label>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>标题</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list">
                        <td width="15%">{{item.id}}</td>
                        <td>
                            <a ui-sref="contest-view({id:item.id})" ui-sref-opts="{reload: true}">{{item.title}}</a>
                        </td>
                        <td width="25%">
                            <span ng-show="contestStatus(item) === 'ERROR'" style="color: red">ERROR<br/>start at {{item.startTime | date:'yyyy-MM-dd HH:mm'}}<br/>end at {{item.endTime | date:'yyyy-MM-dd HH:mm'}}</span>
                            <span ng-hide="contestStatus(item) === 'ERROR'" ng-style="statusColor(item)">{{contestStatus(item)}}</span>
                        </td>
                        <td>
                            <button class="btn btn-default" ng-show="item.disabled" type="button" ng-click="enable(item)">启用</button>
                            <button class="btn btn-default" ng-hide="item.disabled" type="button" ng-click="disable(item)">禁用</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--/*/</script>/*/-->

        <!--/*/<script type="text/ng-template" id="contest-view.html">/*/-->
        <h2 class="text-center">Contest - {{contest.title}}</h2>
        <div class="text-center">
            <div>
                <label>Start time: </label><span style="color: #939">{{contest.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                <label>End time: </label><span style="color: #939">{{contest.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </div>
            <div>
                <label>Current System Time: </label><span style="color: #939" current-time="yyyy-MM-dd HH:mm:ss" interval="1000">2016-03-28 16:17:18</span>
                <label>Contest Status: </label><span style="color: red">{{contest ? contestStatus(contest) : ''}}</span>
            </div>
        </div>
        <div class="row" ng-hide="isStarted(contest)">
            <a class="btn btn-default col-sm-offset-5 col-sm-1" ui-sref="contest-edit({id:contest.id})" ui-sref-opts="{reload: true}">编辑</a>
            <button class="btn btn-danger col-sm-1" type="button" ng-click="delete(contest)">删除</button>
        </div>
        <div class="row" ng-show="isStarted(contest)">
            <button class="btn btn-danger col-sm-offset-5 col-sm-1" type="button" ng-click="delete(contest)">删除</button>
        </div>
        <div class="table-responsive">
            <table class="text-center table table-striped table-hover problems">
                <thead>
                    <tr class="row">
                        <th class="col-sm-5 text-center">编号</th>
                        <th class="col-sm-5 text-left">标题</th>
                        <th class="col-sm-2 text-left">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row" ng-repeat="p in problems">
                        <td class="col-sm-5 text-center" style="vertical-align:middle">
                            <b>{{p.origin}} Problem {{fromCharCode(65 + $index)}}</b>
                        </td>
                        <td class="col-sm-5 text-left" style="vertical-align:middle">
                            <a ui-sref="problem-view-current({id:p.origin})" ui-sref-opts="{reload: true}">{{p.title}}</a>
                        </td>
                        <td class="col-sm-2 text-left" style="vertical-align:middle">
                            <a class="btn btn-default" ui-sref="problem-edit-current({id:p.origin})" ui-sref-opts="{reload: true}">编辑</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--/*/</script>/*/-->

        <!--/*/<script type="text/ng-template" id="account-list.html">/*/-->
        <h3>User List</h3>
        <form ng-submit="submit()">
            <label th:for="${#ids.next('userId')}">用户名：</label>
            <input th:id="${#ids.seq('userId')}" name="userId" ng-model="params.userId"/>
            <label th:for="${#ids.next('nick')}">昵称</label>
            <input th:id="${#ids.seq('nick')}" name="nick" ng-model="params.nick"/>
            <label th:for="${#ids.next('disabled')}">用户状态：</label>
            <select th:id="${#ids.seq('disabled')}" name="disabled" ng-model="params.disabled">
                <option value="false">可用</option>
                <option value="true">已隐藏</option>
                <option value="">所有</option>
            </select>
            <button class="btn btn-default" type="submit">查询</button>
        </form>
        <div ngf-select ngf-drop ng-model="files" ngf-keep="false" class="btn btn-default" ngf-accept="'.xls,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'" ngf-allow-dir="false" ngf-change="fileChange()" ngf-multiple="true">选择excel文件用于用户导入</div>
        <a ng-href="{{exportUrl}}" class="btn btn-default">导出查询结果</a>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>编号</th>
                        <th class="sortable" ng-click="push('id')">用户名</th>
                        <th class="sortable" ng-click="push('title')">昵称</th>
                        <th class="sortable" ng-click="push('solved,desc')">solved</th>
                        <th class="sortable" ng-click="push('submit,desc')">提交</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="u in page.content">
                        <td>{{page.number * page.size + $index + 1}}</td>
                        <td>{{u.id}}</td>
                        <td>{{u.nick}}</td>
                        <td>{{u.solved}}</td>
                        <td>{{u.submit}}</td>
                        <td>
                            <button class="btn btn-default" type="button" ng-click="resetPassword(u)">重置密码</button>
                            <button class="btn btn-default" type="button" ng-show="u.disabled" ng-click="enable(u)">启用</button>
                            <button class="btn btn-default" type="button" ng-hide="u.disabled" ng-click="disable(u)">禁用</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix" ng-hide="1 >= page.totalPages && page.number === 0">
            <pagination total-items="page.totalElements" ng-model="currentPage" max-size="10" items-per-page="page.size" ng-change="pageChanged()" boundary-links="true" direction-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
        <!--/*/</script>/*/-->

        <!--/*/<script type="text/ng-template" id="account-password.html">/*/-->
        <form class="modal-content" ng-submit="submit()" name="accountPassword" role="form" novalidate="">
            <div class="modal-header">
                <button type="button" class="close" ng-click="dismiss('modal')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">重置密码</h4>
            </div>
            <div class="modal-body">
                <div class="clearfix form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" th:for="${#ids.next('id')}">ID</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:id="${#ids.seq('id')}" ng-model="user.id" autocomplete="off" readonly=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" th:for="${#ids.next('description')}">密码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="description" th:id="${#ids.seq('description')}" placeholder="请输入新密码" ng-model="user.password" maxlength="20" autocomplete="off" request-focus="true" required=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="dismiss()">关闭</button>
                <button type="submit" class="btn btn-primary" ng-disabled="accountPassword.$invalid">重置</button>
            </div>
        </form>
        <!--/*/</script>/*/-->

        <!--/*/<script type="text/ng-template" id="account-import.html">/*/-->
        <h3>导入用户</h3>
        <form ng-submit="pageChanged(0,params)">
            <label th:for="${#ids.next('userId')}">用户名：</label>
            <input th:id="${#ids.seq('userId')}" name="userId" ng-model="params.id"/>
            <label th:for="${#ids.next('nick')}">昵称</label>
            <input th:id="${#ids.seq('nick')}" name="nick" ng-model="params.nick"/>
            <label th:for="${#ids.next('school')}">班级</label>
            <input th:id="${#ids.seq('school')}" name="nick" ng-model="params.school"/>
            <label th:for="${#ids.next('email')}">邮箱</label>
            <input th:id="${#ids.seq('email')}" name="nick" ng-model="params.email"/>
            <button class="btn btn-default">查询</button>
        </form>
        <div>准备导入{{page.totalElements()}}个用户<span ng-show="exists">，其中{{exists}}个用户已经存在</span>
            <span ng-show="count.duplicate()">，{{count.duplicate()}}个用户重复</span><span>。</span>
            <span ng-show="exists">已经存在用户导入策略：<span isteven-multi-select input-model="existPolicy" output-model="outputPolicy" button-label="name" item-label="name" tick-property="selected" disable-property="disabled" helper-elements="all none" output-properties="type" translation="{nothingSelected:'未选择存在策略',selectAll:'全选',selectNone:'清空'}"></span></span>
            <button class="btn btn-default" ng-click="import()">导入</button>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="text-center">
                        <th class="sortable" ng-click="push('$index')">编号</th>
                        <th class="sortable" ng-click="push('id')">用户名</th>
                        <th class="sortable" ng-click="push('password')">密码</th>
                        <th class="sortable" ng-click="push('nick')">昵称</th>
                        <th class="sortable" ng-click="push('school')">班级</th>
                        <th class="sortable" ng-click="push('email')">邮箱</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" ng-repeat="u in list">
                        <td>{{u.$index}}</td>
                        <td>{{u.id}}</td>
                        <td style="overflow:hidden;text-overflow:ellipsis;max-width: 120px;">{{u.password}}</td>
                        <td style="overflow:hidden;text-overflow:ellipsis;max-width: 120px;">{{u.nick}}</td>
                        <td>{{u.school}}</td>
                        <td>{{u.email}}</td>
                        <td>
                            <button class="btn btn-default" type="button" ng-click="remove(u)">移除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clearfix" ng-hide="1 >= page.totalPages() && page.number() === 0">
            <pagination total-items="filteredElements" ng-model="currentPage" max-size="10" items-per-page="page.pageSize()" ng-change="pageChanged(currentPage - 1)" boundary-links="true" direction-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-init="currentPage = page.number() + 1"></pagination>
        </div>
        <!--/*/</script>/*/-->

        <!--/*/<script type="text/ng-template" id="page-index-changer.html">/*/-->
        <div class="editable page-index-content" ng-model="pageIndex.value" ckeditor="{deferred:false,toolbar:[{name:'clipboard',items:['Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo']},{name:'editing',items:['Find','Replace','-','SelectAll']},{name:'basicstyles',items:['Bold','Italic','Underline','Strike','Subscript','Superscript','-','RemoveFormat']},'/',{name:'paragraph',items:['NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote','CreateDiv','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','-','BidiLtr','BidiRtl']},{name:'links',items:['Link','Unlink','Anchor']},{name:'insert',items:['Table','HorizontalRule','SpecialChar','PageBreak']},'/',{name:'styles',items:['Styles','Format','Font','FontSize']},{name:'colors',items:['TextColor','BGColor']},{name:'tools',items:['Maximize','ShowBlocks','-']}]}">加载中……</div>
        <div class="col-sm-offset-5 col-sm-5">
            <button type="button" ng-click="submit()" class="btn btn-default">提交</button>
        </div>
        <!--/*/</script>/*/-->
    </body>
</html>
