<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Submit Your Solution Via Web</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <div style="width:980px; margin: 0 auto; padding: 1px" class="table-back">
            <form id="submitForm" method="POST" th:action="@{${contestId==null?'/problems/'+problemId+'/submit':'/contests/'+contestId+'/problems/'+problemId+'/submit.html'}}">
                <p align="center">
                    <font size="4" color="#339">Submit Your Solution Via Web</font>
                </p>
                <p align="center">
                    <label th:for="${#ids.next('pid')}">Problem ID:</label>
                    <span th:unless="${problemId==null}" th:text="${problemId}">1000</span>
                    <input th:if="${problemId==null}" th:id="${#ids.seq('pid')}" type="number" th:value="${problemId}" accesskey="p" required="required" onchange="document.getElementById('submitForm').action='problems/'+this.value+'/submit.html'"/>
                    <br/>
                    <label th:for="${#ids.next('language')}">Language:</label>
                    <select th:id="${#ids.seq('language')}" size="1" name="language" style="width:100px;" accesskey="l">
                        <option th:each="language:${languages}" th:object="${language}" th:value="*{id}" th:selected="*{id}==${languageId}" th:text="*{name}">GNU C++</option>
                    </select>
                    <br/>
                    <a href="/CLanguage/showmessage?message_id=1164" class="submit hint" style="color:red">使用GCC(GNU C)或VC++提交出现Runtime Error，请确保main的返回类型为int，main最后有return 0</a>
                </p>
                <p align="center">
                    <label th:for="${#ids.next('source')}">Source: </label>
                    <br/>
                    <textarea th:id="${#ids.seq('source')}" rows="30" name="source" cols="79" accesskey="c"></textarea>
                </p>
                <div align="center">
                    <button type="submit" name="submit" accesskey="s">Submit</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
        </div>
        <script src="../static/js/submit.js" th:src="@{/js/submit.js}"></script>
        <!--/*/</th:block>/*/-->
    </body>
</html>
