<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Mail List</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <h2 style="text-align: center">
            <span style="color: blue">Mail of [[${userId}]]</span>
        </h2>
        <table align="center" style="border: 0; margin: auto;">
            <thead>
                <tr bgcolor="#78C8FF">
                    <th>No.</th>
                    <th>From</th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mail,it : ${mails}" th:object="${mail}" th:bgcolor="${it.odd}?'#78c8ff':'#c0c0c0'">
                    <td th:text="${it.count}">1</td>
                    <td>
                        <a th:href="@{/userstatus(user_id=*{from})}" th:text="*{from}">userId</a>
                    </td>
                    <td>
                        <a th:href="@{/showmail(mail_id=*{id})}" th:style="*{newMail}?'font-weight: bold;'">
                            <span style="color: blue" th:text="*{title}">No Topic</span>
                        </a>
                    </td>
                    <td th:text="*{#calendars.format(T(java.util.Date).from(inDate),'yyyy-MM-dd H:mm:ss')}">2016-01-04</td>
                </tr>
            </tbody>
        </table>
        <center>
            <span>[</span>
            <a th:href="@{/mail(size=${size})}">
                <span style="color: blue">Top</span>
            </a>
            <span>]</span>
            <span>&nbsp;&nbsp;&nbsp;[</span>
            <a th:href="@{/mail(start=${start gt size?start-size:0},size=${size})}">
                <span style="color: blue">Previous</span>
            </a>
            <span>]</span>
            <span>&nbsp;&nbsp;&nbsp;[</span>
            <a th:href="@{/mail(start=${start+size},size=${size})}">
                <span style="color: blue">Next</span>
            </a>
            <span>]</span>
            <span>&nbsp;&nbsp;&nbsp;[</span>
            <a th:href="@{/sendpage}">
                <span style="color: blue">Send Mail</span>
            </a>
            <span>]</span>
        </center>
        <!--/*/</th:block>/*/-->
    </body>
</html>
