<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Detail of mail</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content" th:object="${mail}">/*/-->
        <table style="border: 0; width: 80%">
            <tr bgcolor="#c0c0c0">
                <td>
                    <span>From: </span>
                    <span style="color: blue">
                        <a th:href="@{/userstatus(user_id=*{from})}" th:text="*{from}">userId</a>
                    </span>
                    <br/>
                    <span>Title:</span>
                    <span style="color: blue" th:text="*{title}">title</span>
                    <br/>
                    <span>Send Time: [[*{#calendars.format(T(java.util.Date).from(inDate),'yyyy-MM-dd HH:mm:ss')}]]</span>
                    <br/>
                </td>
            </tr>
            <tr bgcolor="#78c8ff">
                <td>
                    <hr/>
                    <span style="white-space: pre;" th:text="*{content}">zzzzz</span>
                    <hr/>
                </td>
            </tr>
        </table>
        <center>
            <span>[</span>
            <a th:href="@{/mail}">
                <span style="color: blue">Return</span>
            </a>
            <span>]&nbsp;&nbsp;&nbsp;[</span>
            <a th:href="@{/sendpage(reply=*{id})}">
                <span style="color: blue">Reply</span>
            </a>
            <span>]&nbsp;&nbsp;&nbsp;[</span>
            <a th:href="@{/deletemail(mail_id=*{id})}">
                <span style="color: blue">Delete</span>
            </a>
            <span>]</span>
        </center>
        <!--/*/</th:block>/*/-->
    </body>
</html>
