<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Volume [[${volume}]]</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <ul th:if="${page.totalPages gt 1 or page.number!=0}" class="text-center pagination">
            <li style="font-size: x-large">Volume </li>
            <li th:each="i:${#numbers.sequence(0,page.totalPages-1)}">
                <a th:href="@{${url}(page=${i})}" th:class="${i==page.number?'self':_}">
                    <font size="5" th:text="${i+1}">1</font>
                </a>
            </li>
        </ul>
        <form method="GET" th:action="@{/searchproblem}">
            <label th:for="${#ids.next('sstr')}" style="color: blue;font-size: x-large;">请输入题目的标题或Source进行搜索:</label>
            <input th:id="${#ids.seq('sstr')}" type="text" name="sstr" size="25"/>
            <button type="submit" th:text="#{onlinejudge.problem.searchproblem.button}">GO</button>
        </form>
        <table width="100%" class="table-default table-back problem-list" th:classappend="${#request.isUserInRole('USER')}?_:'notlogined'">
            <thead>
                <tr class="inc">
                    <th class="status" width="5%" align="center"></th>
                    <th class="id" width="10%" align="center">
                        <a class="sortable" th:href="@{/problemlist}">ID</a>
                    </th>
                    <th class="title" width="50%" align="center">
                        <a class="sortable" th:href="@{/problemlist(sort=title)}">Title</a>
                    </th>
                    <th width="15%" align="center" style="font-weight: bold">
                        <a class="sortable" th:href="@{/problemlist(sort=ratio)}">Ratio</a>
                        <span>(</span>
                        <a class="sortable" th:href="@{/problemlist(sort=accepted)}">AC</a>
                        <span>/</span>
                        <a class="sortable" th:href="@{/problemlist(sort=submit)}">submit</a>
                        <span>)</span>
                    </th>
                    <th width="8%" align="center">
                        <a th:href="@{/problemlist(sort=difficulty)}" style="font-weight: bold;color: white">Difficulty</a>
                    </th>
                    <th width="12%" align="center" style="font-weight: bold">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="problem:${page}" th:object="${problem}" th:class="*{status==1?'ac':status==2?'wa':''}">
                    <td class="status"></td>
                    <td align="center" th:text="*{id}">problem.id</td>
                    <td><a th:href="@{/showproblem(problem_id=*{id})}" th:text="*{title}">title</a></td>
                    <td align="center">[[*{ratio}]]%(<a th:href="@{/problemstatus(problem_id=*{id})}">[[*{accepted}]]</a>/<a th:href="@{/status(problem_id=*{id})}">[[*{submit}]]</a>)</td>
                    <td align="center">[[*{difficulty}]]%</td>
                    <td align="center">[[*{inDate!=null?#calendars.format(T(java.util.Date).from(inDate),'yyyy-M-d'):''}]]</td>
                </tr>
            </tbody>
        </table>
        <!--/*/</th:block>/*/-->
    </body>
</html>
