<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>Search Problem for &apos;[[${query}]]&apos;</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <div class="text-center">
            <font size="5" color="blue" th:text="#{onlinejudge.problem.searchresult}">Search Result</font>
        </div>
        <form method="GET" th:action="@{/searchproblem}">
            <label th:for="${#ids.next('sstr')}" style="color: blue;font-size: x-large;">请输入题目的标题或Source进行搜索:</label>
            <input th:id="${#ids.seq('sstr')}" type="text" name="sstr" size="25" th:value="${query}"/>
            <button type="submit" th:text="#{onlinejudge.problem.searchproblem.button}">GO</button>
        </form>
        <div>
            <table width="100%" class="table-default table-back problem-list problem-search">
                <thead>
                    <tr bgcolor="#6589D1">
                        <th width="5%"></th>
                        <th width="10%">Problem Id</th>
                        <th width="25%">Title</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="problem:${page}" th:object="${problem}" th:class="*{status==1?'ac':status==2?'wa':''}">
                        <td class="status"></td>
                        <td th:text="*{id}">id</td>
                        <td><a th:href="@{/showproblem(problem_id=*{id})}" th:text="*{title}">title</a></td>
                        <td th:utext="*{source}">source</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <font style="color: blue" size="5">Total [[${page.totalElements}]] Problems match!</font>
        </div>
        <!--/*/</th:block>/*/-->
    </body>
</html>
