<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/main">
    <head>
        <title th:inline="text">Search Problem for &apos;[[${query}]]&apos;</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <div class="text-center"><font size="5" color="blue">Search Result</font></div>
        <form method="GET" th:action="@{/searchproblem}">
            <font color="blue" size="5">请输入题目的标题或Source进行搜索:</font>
            <input type="text" name="sstr" size="25" th:value="${query}"/>
            <input type="submit" value="GO"/>
        </form>
        <div>
            <table cellspacing="0" cellpadding="0" width="100%" border="1" class="table-back problem-list problem-search" style="border-collapse: collapse" bordercolor="#FFF">
                <tr bgcolor="#6589D1">
                    <td width="5%"></td>
                    <td width="10%">Problem Id</td>
                    <td width="25%">Title</td>
                    <td>Source</td>
                </tr>
                <tr th:each="problem:${problems}" th:object="${problem}" th:class="*{status==1?'ac':status==2?'wa':''}">
                    <td class="status"></td>
                    <td th:text="*{id}">id</td>
                    <td><a th:href="@{/showproblem(problem_id=*{id})}" th:text="*{title}">title</a></td>
                    <td th:utext="*{source}">source</td>
                </tr>
            </table>
        </div>
        <div class="text-center">
            <font color="blue" size="5" th:inline="text">Total [[${problems.size()}]] Problems match!</font>
        </div>
        <!--/*/</th:block>/*/-->
    </body>
</html>
