<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
    <head>
        <title>Congratulations</title>
        <style>img{border: 0}</style>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <h3 class="image1-50-26">Congratulations</h3>
        <ul>
            <li>You have added a contest, the id is <span style="color: #C90">[[${contestId}]]</span></li>
            <li>Start time:<span style="color: #C90">[[${#calendars.format(T(java.util.Date).from(startTime),'yyyy-MM-dd HH:mm:ss')}]]</span></li>
            <li>End time:<span style="color: #C90">[[${#calendars.format(T(java.util.Date).from(endTime),'yyyy-MM-dd HH:mm:ss')}]]</span></li>
        </ul>
        <p>
            <a class="image2-40-29" th:href="@{/admin/contests/new.html}">Add Another Contest</a>
            <a class="image2-40-29" th:href="@{/admin/contests/{contestId}.html(contestId=${contestId})}">See This Contest</a>
        </p>
        <!--/*/</th:block>/*/-->
    </body>
</html>
