<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
    <head>
        <title>Add a contest</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <form method="post" th:action="@{/admin/contests.html}">
            <p class="text-center" style="color: #333399;font-size: large;">Add a Contest</p>
            <p class="text-left">
                <label th:for="${#ids.next('title')}">Title:</label>
                <input th:id="${#ids.seq('title')}" type="text" name="title" size="71"/>
            </p>
            <p class="text-left">
                <label th:for="${#ids.next('description')}">Description:</label>
                <br/>
                <textarea th:id="${#ids.seq('description')}" rows="8" name="description" cols="76"></textarea>
            </p>
            <p class="text-left">
                <span>Start Time:</span>
                <br/>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>Year:</span>
                <input type="text" name="syear" th:value="${#calendars.format(#execInfo.now,'yyyy')}" size="7"/>
                <span> Month:</span>
                <input type="text" name="smonth" th:value="${#calendars.format(#execInfo.now,'M')}" size="7"/>
                <span> Day:</span>
                <input type="text" name="sday" size="7"/>
                <span> Hour:</span>
                <input type="text" name="shour" size="7" onchange="document.getElementsByName('ehour')[0].value = 5 + parseInt(this.value);"/>
                <span> Minute:</span>
                <input type="text" name="sminute" value="0" size="7"/>
            </p>
            <p class="text-left">
                <span>End Time:</span>
                <br/><span>&nbsp;&nbsp;&nbsp;</span>
                <span>Year:</span>
                <input type="text" name="eyear" th:value="${#calendars.format(#execInfo.now,'yyyy')}" size="7"/>
                <span> Month:</span>
                <input type="text" name="emonth" th:value="${#calendars.format(#execInfo.now,'M')}" size="7"/>
                <span> Day:</span>
                <input type="text" name="eday" size="7"/>
                <span> Hour:</span>
                <input type="text" name="ehour" size="7"/>
                <span> Minute:</span>
                <input type="text" name="eminute" value="0" size="7"/>
            </p>
            <div align="center">
                <p>
                    <button type="submit">Submit</button>
                    <button type="reset">Reset</button>
                </p>
            </div>
        </form>
        <!--/*/</th:block>/*/-->
    </body>
</html>
