<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/admin}">
    <head><title>Welcome to admin model</title></head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <p align="left" style="font-size: large; color: #339">What can I do:</p>
        <p align="left" style="font-size: large; color: #339">
            <img th:src="@{/images/j0293844.png}" width="25" height="23"/>
            <a th:href="@{/admin/problems/new.html}">Add a problem</a>
        </p>
        <p style="font-size: large; color: #339">
            <img th:src="@{/images/j0293844.png}" width="25" height="23"/>
            <a th:href="@{/admin/problems.html}">See the problem list</a>
        </p>
        <p style="font-size: large; color: #339">
            <img th:src="@{/images/j0293844.png}" width="25" height="23"/>
            <a th:href="@{/admin/contests/new.html}">Add a contest</a>
        </p>
        <p style="font-size: large; color: #339">
            <img th:src="@{/images/j0293844.png}" width="25" height="23"/>
            <a th:href="@{/admin/contests.html}">See the contest list</a>
        </p>
        <p style="font-size: large; color: #339">
            <img th:src="@{/images/j0293844.png}" width="25" height="23"/>
            <a th:href="@{/logout.html}">Logout</a>
            <br/>
        </p>
        <div class="setsysteminfo" style="color: #339">
            <form th:action="@{/admin/tools.html}" method="POST">
                <input type="hidden" name="op" value="setsysteminfo"/>
                <input type="text" name="sinfo"/>
                <input th:id="${#ids.seq('pureText')}" type="checkbox" name="pureText" checked="checked" />
                <label th:for="${#ids.prev('pureText')}">纯文本</label>
                <button type="submit">set</button>
            </form>
        </div>
        <div style="color: #339">
            <form th:action="@{/admin/tools.html}" method="POST">
                <input type="hidden" name="op" value="test"/>
                <button th:id="${#ids.seq('submit')}" type="submit" class="btn btn-default">修复提交数和Accepted数</button>
            </form>
        </div>
        <script th:inline="javascript">jQuery(function($){$(/*[+[[|#${#ids.prev('submit')}|]]+]*//*[-*/'submit'/*-]*/).click(function(){$(this).prop("disabled",true).closest("form").submit();return false;});});</script>
        <!--/*/</th:block>/*/-->
    </body>
</html>
