<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/admin">
    <head><title>Welcome to admin model</title></head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <p align="left"><font size="4" color="#333399">What can I do:</font></p>
        <p align="left"><font size="4" color="#333399">
                <img th:src="@{/images/j0293844.png}" width="25" height="23"/> <a th:href="@{/admin/problems/new}">Add a problem</a>
            </font></p>
        <p><font size="4" color="#333399">
                <img th:src="@{/images/j0293844.png}" width="25" height="23"/> <a th:href="@{/admin/problems}">See the problem list</a>
            </font></p>
        <p><font size="4" color="#333399">
                <img th:src="@{/images/j0293844.png}" width="25" height="23"/> <a th:href="@{/admin/contests/new}">Add a contest</a>
            </font></p>
        <p><font size="4" color="#333399">
                <img th:src="@{/images/j0293844.png}" width="25" height="23"/> <a th:href="@{/admin/contests}">See the contest list</a>
            </font></p>
        <p><font size="4" color="#333399">
                <img th:src="@{/images/j0293844.png}" width="25" height="23"/> <a th:href="@{/logout}">Logout</a><br/></font></p>
        <div class="setsysteminfo" style="color: #339">
            <form th:action="@{/admin/tools}" method="POST">
                <input type="hidden" name="op" value="setsysteminfo"/>
                <input type="text" name="sinfo"/>
                <label><input type="checkbox" name="pureText" checked="checked" />纯文本</label>
                <input type="submit" value="set"/>
            </form>
        </div>
        <div style="color: #339">
            <form th:action="@{/admin/tools}" method="POST">
                <input type="hidden" name="op" value="test"/>
                <input type="submit" value="修复提交数和Accepted数"/>
            </form>
        </div>
        <!--/*/</th:block>/*/-->
    </body>
</html>
