<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>User List</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <p align="center"><font size="5" color="#339" th:text="#{onlinejudge.user.list}">User List</font></p>
        <div align="center">
            <a th:href="@{/recentrank}">
                <font size="5">Click Here To Check The Recent Ranklist</font>
            </a>
        </div>
        <table align="center" width="980" class="table-default table-back">
            <thead>
                <tr align="center" bgcolor="#6589D1">
                    <th width="5%"><b>No.</b></th>
                    <th width="10%"><b>User ID</b></th>
                    <th width="55%"><b>Nick Name</b></th>
                    <th width="10%">
                        <a th:href="@{/userlist}">
                            <b>
                                <span style="color: white">Solved Problems</span>
                            </b>
                        </a>
                    </th>
                    <th width="10%">
                        <a th:href="@{/userlist(sort='submit,desc',sort=solved)}">
                            <b>
                                <span style="color: white">Submit</span>
                            </b>
                        </a>
                    </th>
                    <th width="10%">
                        <a th:href="@{/userlist(sort='ratio,solved,desc')}">
                            <b><span style="color: white">Ratio (AC/submit)</span></b>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr align="center" th:each="user,it:${page}" th:object="${user}">
                    <td align="center" th:text="${page.number*page.size+it.count}">1</td>
                    <td><a th:href="@{/userstatus(user_id=*{id})}" th:text="*{id}">id</a></td>
                    <td><span style="color: green" th:text="*{nick}">nick</span></td>
                    <td><a th:href="@{/status(score=100,user_id=*{id})}" th:text="*{solved}">solved</a></td>
                    <td><a th:href="@{/status(user_id=*{id})}" th:text="*{submit}">submit</a></td>
                    <td th:text="|*{ratio}%|">30%</td>
                </tr>
            </tbody>
        </table>
        <ul class="text-center pagination" th:if="${page.totalPages&gt;1}">
            <li th:each="i:${T(cn.edu.zjnu.acm.judge.util.JudgeUtils).sequence(page.totalPages, page.number)}">
                <a th:href="@{${url}(page=${i})}" th:text="${i+1}" th:style="${i==page.number?'color:red':_}">1</a>
            </li>
        </ul>
        <!--/*/</th:block>/*/-->
    </body>
</html>
