<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
    <head>
        <title>[[${title1}]]</title>
    </head>
    <body>
        <!--/*/<th:block layout:fragment="content">/*/-->
        <div th:replace="fragment/problem"></div>
        <p align="center" style="font-size: medium; color: #339">
            <span>[</span>
            <a th:href="@{/submitpage(problem_id=${problem.id})}">Submit</a>
            <span>]&nbsp;&nbsp;[</span>
            <a th:href="@{/problemstatus(problem_id=${problem.id})}">Status</a>
            <span>]&nbsp;&nbsp; [</span>
            <a th:href="@{/bbs(problem_id=${problem.id})}">Discuss</a>
            <span>]</span>
        </p>
        <!--/*/</th:block>/*/-->
    </body>
</html>
